//- VARS
- baseurl = '/'
- uploads = 'images/'
- keywords = 'San Miguel; Centro Comerccial; Plaza San Miguel'
- description = 'Plaza San Miguel es el primer Centro Comercial del Perú con una vigencia de 38 años en el mercado, Este se encuentra ubicado en Lima, la capital de Perú.' 

if path == 'PROD'
    - baseurl = '/'
    - uploads = 'wp-content/uploads/'

if path == 'LOCAL'
    - baseurl = ''
    - uploads = 'images/'

block globalvars
    - basedir = baseurl + uploads

doctype html
html(lang="es" xml:lang="es")
    head
        title= title
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
        meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

        //- Metatags
        meta(name='Keywords' content = keywords)
        meta(name='Description' content = description)

        //- Styles
        link(rel='stylesheet' href='css/bootstrap.min.css')
        link(rel='stylesheet' href='css/font-awesome.css')
        link(rel='stylesheet' href='css/main.css')

    body.psm-body

        //- Header
        include ../shared/header.pug

        //- Main
        block content

        if section != 6
            //- Subscribe
            include ../elements/subscribe.pug

        //- Footer
        include ../shared/footer.pug

        //- Copyright
        include ../elements/copyright.pug

        //- Modal
        include ../elements/modal/search.pug

        //- Script
        script(type='text/javascript' src='js/main.js')