//- Layout
extends layout/base.pug

block globalvars
    - title = 'Terminos y condiciones - Plaza San Miguel'
    - basedir = baseurl + uploads
    - section = 7

//- Content Landing
block content
    
    //- Hero
    main.psm-main

        section.psm-section.psm-msn.psm-msn--404
            .container
                .psm-section__head
                    h3.psm-section__title.psm-msn__title 404
                h3.psm-section__title.text-uppercase Página no disponible
                p.psm-section__text.text-center Lo sentimos, la página no se encuentra disponible.
                                    
