//- Layout
extends layout/base.pug

block globalvars
    - title = 'Terminos y condiciones - Plaza San Miguel'
    - basedir = baseurl + uploads
    - section = 7

//- Content Landing
block content
    
    //- Hero
    main.psm-main

        section.psm-section.psm-msn.psm-msn--500
            .container
                .psm-section__head
                    h3.psm-section__title.psm-msn__title 500
                h3.psm-section__title.text-uppercase Error interno del servidor
                p.psm-section__text.text-center ¡Vaya! Algo salió mal. <br />Trata de volver a cargar esta página o no dudes en contactar con nosotros si el problema persiste.
                                    
