//- Layout
extends layout/base.pug

block globalvars
    - title = 'Home - Plaza San Miguel'
    - basedir = baseurl + uploads
    - section = 5

//- Content Landing
block content
    
    //- Hero
    include elements/hero-blog.pug

    main.psm-main

        section.psm-section.psm-category
            .container
                .psm-section__main
                    .psm-tabs
                        ul.nav.nav-tabs.nav-justified.psm-tabs__nav(role='tablist')
                            li.active(role='presentation')
                                a.psm-tabs__link.psm-category__link--tendencias(href='#tendencias' aria-controls='tendencias' role='tab' data-toggle='tab') Tendencias
                            li(role='presentation')
                                a.psm-tabs__link.psm-category__link--entretenimiento(href='#entretenimiento' aria-controls='entretenimiento' role='tab' data-toggle='tab') Entretenimiento
                            li(role='presentation')
                                a.psm-tabs__link.psm-category__link--gastronomia(href='#gastronomia' aria-controls='gastronomia' role='tab' data-toggle='tab') Gastronomía
                            li(role='presentation')
                                a.psm-tabs__link.psm-category__link--novedades(href='#novedades' aria-controls='novedades' role='tab' data-toggle='tab') Novedades
                            
                        .tab-content.psm-tabs__content
                            .tab-pane.fade.in.active#tendencias(role='tabpanel')
                                .psm-category__content__tendencias 
                                    .row
                                        .col-sm-6.col-md-6
                                            a.btn.psm-btn.psm-category__item.psm-category__item--tendencias(href='#' title='Tendencias')
                                                img.img-responsive(src= basedir + '2018/05/psm-tpl-tendencia-01.png' alt='Tendencias')
                                                .psm-category__img
                                                    img.img-responsive(src= basedir + '2018/05/psm-tendencia-01.jpg' alt='Tendencias')
                                                .psm-category__caption
                                                    h3.psm-category__title Tendencia
                                                    p.psm-category__text Verte natural, el nuevo estilo de la belleza fit.

                                        .col-sm-6.col-md-3
                                            a.btn.psm-btn.psm-category__item.psm-category__item--tendencias(href='#' title='Tendencias')
                                                picture
                                                    source(srcset= basedir + '2018/05/psm-tpl-tendencia-02.png' media='(min-width: 992px)')
                                                    img.img-responsive(src= basedir + '2018/05/psm-tpl-tendencia-01.png' alt='Tendencias')
                                                .psm-category__img
                                                    img.img-responsive(src= basedir + '2018/05/psm-tendencia-02.jpg' alt='Tendencias')
                                                .psm-category__caption
                                                    h3.psm-category__title Tendencia
                                                    p.psm-category__text Verte natural, el nuevo estilo de la belleza fit.

                                        .col-sm-6.col-md-3
                                            a.btn.psm-btn.psm-category__item.psm-category__item--tendencias(href='#' title='Tendencias')
                                                picture
                                                    source(srcset= basedir + '2018/05/psm-tpl-tendencia-02.png' media='(min-width: 992px)')
                                                    img.img-responsive(src= basedir + '2018/05/psm-tpl-tendencia-01.png' alt='Tendencias')
                                                .psm-category__img
                                                    img.img-responsive(src= basedir + '2018/05/psm-tendencia-03.jpg' alt='Tendencias')
                                                .psm-category__caption
                                                    h3.psm-category__title Tendencia
                                                    p.psm-category__text Verte natural, el nuevo estilo de la belleza fit.

                                        .col-sm-6.col-md-3
                                            a.btn.psm-btn.psm-category__item.psm-category__item--tendencias(href='#' title='Tendencias')
                                                picture
                                                    source(srcset= basedir + '2018/05/psm-tpl-tendencia-02.png' media='(min-width: 992px)')
                                                    img.img-responsive(src= basedir + '2018/05/psm-tpl-tendencia-01.png' alt='Tendencias')
                                                .psm-category__img
                                                    img.img-responsive(src= basedir + '2018/05/psm-tendencia-04.jpg' alt='Tendencias')
                                                .psm-category__caption
                                                    h3.psm-category__title Tendencia
                                                    p.psm-category__text Verte natural, el nuevo estilo de la belleza fit.

                                        .col-sm-6.col-md-6
                                            a.btn.psm-btn.psm-category__item.psm-category__item--tendencias(href='#' title='Tendencias')
                                                img.img-responsive(src= basedir + '2018/05/psm-tpl-tendencia-01.png' alt='Tendencias')
                                                .psm-category__img
                                                    img.img-responsive(src= basedir + '2018/05/psm-tendencia-05.jpg' alt='Tendencias')
                                                .psm-category__caption
                                                    h3.psm-category__title Tendencia
                                                    p.psm-category__text Verte natural, el nuevo estilo de la belleza fit.

                                        .col-sm-6.col-md-3
                                            a.btn.psm-btn.psm-category__item.psm-category__item--tendencias(href='#' title='Tendencias')
                                                picture
                                                    source(srcset= basedir + '2018/05/psm-tpl-tendencia-02.png' media='(min-width: 992px)')
                                                    img.img-responsive(src= basedir + '2018/05/psm-tpl-tendencia-01.png' alt='Tendencias')
                                                .psm-category__img
                                                    img.img-responsive(src= basedir + '2018/05/psm-tendencia-06.jpg' alt='Tendencias')
                                                .psm-category__caption
                                                    h3.psm-category__title Tendencia
                                                    p.psm-category__text Verte natural, el nuevo estilo de la belleza fit.

                                        .col-sm-6.col-md-3
                                            a.btn.psm-btn.psm-category__item.psm-category__item--tendencias(href='#' title='Tendencias')
                                                picture
                                                    source(srcset= basedir + '2018/05/psm-tpl-tendencia-02.png' media='(min-width: 992px)')
                                                    img.img-responsive(src= basedir + '2018/05/psm-tpl-tendencia-01.png' alt='Tendencias')
                                                .psm-category__img
                                                    img.img-responsive(src= basedir + '2018/05/psm-tendencia-03.jpg' alt='Tendencias')
                                                .psm-category__caption
                                                    h3.psm-category__title Tendencia
                                                    p.psm-category__text Verte natural, el nuevo estilo de la belleza fit.

                                        .col-sm-6.col-md-3
                                            a.btn.psm-btn.psm-category__item.psm-category__item--tendencias(href='#' title='Tendencias')
                                                picture
                                                    source(srcset= basedir + '2018/05/psm-tpl-tendencia-02.png' media='(min-width: 992px)')
                                                    img.img-responsive(src= basedir + '2018/05/psm-tpl-tendencia-01.png' alt='Tendencias')
                                                .psm-category__img
                                                    img.img-responsive(src= basedir + '2018/05/psm-tendencia-02.jpg' alt='Tendencias')
                                                .psm-category__caption
                                                    h3.psm-category__title Tendencia
                                                    p.psm-category__text Verte natural, el nuevo estilo de la belleza fit.

                                        .col-sm-6.col-md-6
                                            a.btn.psm-btn.psm-category__item.psm-category__item--tendencias(href='#' title='Tendencias')
                                                img.img-responsive(src= basedir + '2018/05/psm-tpl-tendencia-01.png' alt='Tendencias')
                                                .psm-category__img
                                                    img.img-responsive(src= basedir + '2018/05/psm-tendencia-01.jpg' alt='Tendencias')
                                                .psm-category__caption
                                                    h3.psm-category__title Tendencia
                                                    p.psm-category__text Verte natural, el nuevo estilo de la belleza fit.

                                    .psm-pagination
                                        ul.pagination.pagination-md.pagination-lg
                                            li
                                                a.psm-link.active(href='#') 1
                                            li
                                                a.psm-link(href='#') 2
                                            li
                                                a.psm-link(href='#') 3
                                            li
                                                a.psm-link(href='#') 4
                                            li
                                                a.psm-link(href='#') 5

                            .tab-pane.fade#entretenimiento(role='tabpanel')
                                .psm-category__content__entretenimiento 
                                    .row
                                        .col-sm-6.col-md-6
                                            a.btn.psm-btn.psm-category__item.psm-category__item--entretenimiento(href='#' title='Entretenimiento')
                                                img.img-responsive(src= basedir + '2018/05/psm-tpl-tendencia-01.png' alt='Entretenimiento')
                                                .psm-category__img
                                                    img.img-responsive(src= basedir + '2018/05/psm-tendencia-01.jpg' alt='Entretenimiento')
                                                .psm-category__caption
                                                    h3.psm-category__title Entretenimiento
                                                    p.psm-category__text Verte natural, el nuevo estilo de la belleza fit.

                                        .col-sm-6.col-md-3
                                            a.btn.psm-btn.psm-category__item.psm-category__item--entretenimiento(href='#' title='Entretenimiento')
                                                picture
                                                    source(srcset= basedir + '2018/05/psm-tpl-tendencia-02.png' media='(min-width: 992px)')
                                                    img.img-responsive(src= basedir + '2018/05/psm-tpl-tendencia-01.png' alt='Entretenimiento')
                                                .psm-category__img
                                                    img.img-responsive(src= basedir + '2018/05/psm-tendencia-02.jpg' alt='Entretenimiento')
                                                .psm-category__caption
                                                    h3.psm-category__title Entretenimiento
                                                    p.psm-category__text Verte natural, el nuevo estilo de la belleza fit.

                                        .col-sm-6.col-md-3
                                            a.btn.psm-btn.psm-category__item.psm-category__item--entretenimiento(href='#' title='Entretenimiento')
                                                picture
                                                    source(srcset= basedir + '2018/05/psm-tpl-tendencia-02.png' media='(min-width: 992px)')
                                                    img.img-responsive(src= basedir + '2018/05/psm-tpl-tendencia-01.png' alt='Entretenimiento')
                                                .psm-category__img
                                                    img.img-responsive(src= basedir + '2018/05/psm-tendencia-03.jpg' alt='Entretenimiento')
                                                .psm-category__caption
                                                    h3.psm-category__title Entretenimiento
                                                    p.psm-category__text Verte natural, el nuevo estilo de la belleza fit.

                                    .psm-pagination
                                        ul.pagination.pagination-md.pagination-lg
                                            li
                                                a.psm-link.active(href='#') 1
                                            li
                                                a.psm-link(href='#') 2
                                            li
                                                a.psm-link(href='#') 3
                                            li
                                                a.psm-link(href='#') 4
                                            li
                                                a.psm-link(href='#') 5

                            .tab-pane.fade#gastronomia(role='tabpanel')
                                .psm-category__content__gastronomia
                                    .row
                                        .col-sm-6.col-md-3
                                            a.btn.psm-btn.psm-category__item.psm-category__item--gastronomia(href='#' title='Gastronomía')
                                                picture
                                                    source(srcset= basedir + '2018/05/psm-tpl-tendencia-02.png' media='(min-width: 992px)')
                                                    img.img-responsive(src= basedir + '2018/05/psm-tpl-tendencia-01.png' alt='Gastronomía')
                                                .psm-category__img
                                                    img.img-responsive(src= basedir + '2018/05/psm-tendencia-04.jpg' alt='Gastronomía')
                                                .psm-category__caption
                                                    h3.psm-category__title Gastronomía
                                                    p.psm-category__text Verte natural, el nuevo estilo de la belleza fit.

                                        .col-sm-6.col-md-6
                                            a.btn.psm-btn.psm-category__item.psm-category__item--gastronomia(href='#' title='Gastronomía')
                                                img.img-responsive(src= basedir + '2018/05/psm-tpl-tendencia-01.png' alt='Gastronomía')
                                                .psm-category__img
                                                    img.img-responsive(src= basedir + '2018/05/psm-tendencia-05.jpg' alt='Gastronomía')
                                                .psm-category__caption
                                                    h3.psm-category__title Gastronomía
                                                    p.psm-category__text Verte natural, el nuevo estilo de la belleza fit.

                                        .col-sm-6.col-md-3
                                            a.btn.psm-btn.psm-category__item.psm-category__item--gastronomia(href='#' title='Gastronomía')
                                                picture
                                                    source(srcset= basedir + '2018/05/psm-tpl-tendencia-02.png' media='(min-width: 992px)')
                                                    img.img-responsive(src= basedir + '2018/05/psm-tpl-tendencia-01.png' alt='Gastronomía')
                                                .psm-category__img
                                                    img.img-responsive(src= basedir + '2018/05/psm-tendencia-06.jpg' alt='Gastronomía')
                                                .psm-category__caption
                                                    h3.psm-category__title Gastronomía
                                                    p.psm-category__text Verte natural, el nuevo estilo de la belleza fit.

                                    .psm-pagination
                                        ul.pagination.pagination-md.pagination-lg
                                            li
                                                a.psm-link.active(href='#') 1
                                            li
                                                a.psm-link(href='#') 2
                                            li
                                                a.psm-link(href='#') 3
                                            li
                                                a.psm-link(href='#') 4
                                            li
                                                a.psm-link(href='#') 5
                                                    
                            .tab-pane.fade#novedades(role='tabpanel')
                                .psm-category__content__novedades
                                    .row
                                        .col-sm-6.col-md-3
                                            a.btn.psm-btn.psm-category__item.psm-category__item--novedades(href='#' title='Novedades')
                                                picture
                                                    source(srcset= basedir + '2018/05/psm-tpl-tendencia-02.png' media='(min-width: 992px)')
                                                    img.img-responsive(src= basedir + '2018/05/psm-tpl-tendencia-01.png' alt='Novedades')
                                                .psm-category__img
                                                    img.img-responsive(src= basedir + '2018/05/psm-tendencia-03.jpg' alt='Novedades')
                                                .psm-category__caption
                                                    h3.psm-category__title Novedades
                                                    p.psm-category__text Verte natural, el nuevo estilo de la belleza fit.

                                        .col-sm-6.col-md-3
                                            a.btn.psm-btn.psm-category__item.psm-category__item--novedades(href='#' title='Novedades')
                                                picture
                                                    source(srcset= basedir + '2018/05/psm-tpl-tendencia-02.png' media='(min-width: 992px)')
                                                    img.img-responsive(src= basedir + '2018/05/psm-tpl-tendencia-01.png' alt='Novedades')
                                                .psm-category__img
                                                    img.img-responsive(src= basedir + '2018/05/psm-tendencia-02.jpg' alt='Novedades')
                                                .psm-category__caption
                                                    h3.psm-category__title Novedades
                                                    p.psm-category__text Verte natural, el nuevo estilo de la belleza fit.

                                        .col-sm-6.col-md-6
                                            a.btn.psm-btn.psm-category__item.psm-category__item--novedades(href='#' title='Novedades')
                                                img.img-responsive(src= basedir + '2018/05/psm-tpl-tendencia-01.png' alt='Novedades')
                                                .psm-category__img
                                                    img.img-responsive(src= basedir + '2018/05/psm-tendencia-01.jpg' alt='Novedades')
                                                .psm-category__caption
                                                    h3.psm-category__title Novedades
                                                    p.psm-category__text Verte natural, el nuevo estilo de la belleza fit.
                                                    
                                    .psm-pagination
                                        ul.pagination.pagination-md.pagination-lg
                                            li
                                                a.psm-link.active(href='#') 1
                                            li
                                                a.psm-link(href='#') 2
                                            li
                                                a.psm-link(href='#') 3
                                            li
                                                a.psm-link(href='#') 4
                                            li
                                                a.psm-link(href='#') 5