//- Layout
extends layout/base.pug

block globalvars
    - title = 'Marca - Plaza San Miguel'
    - basedir = baseurl + uploads
    - section = 5

//- Content Landing
block content
    
    //- Hero
    include elements/banner-blog-details.pug

    main.psm-main
        //- Hero
        include elements/hero-blog-details.pug

        section.psm-section.psm-category
            .container
                .psm-section__head
                    h3.psm-section__title #[span Vive momentos #[strong.psm-text--green únicos] en tu plaza de #[strong.psm-text--orange siempre. ]] #[span Ven y disfruta en Plaza San Miguel. ]

                p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        
        section.psm-section.psm-blog
            .container
                .row
                    .col-sm-6
                        .psm-blog__img
                            img.img-responsive(src= basedir + '2018/05/psm-category-tendencias-en-ropa-1.jpg' alt='Entérate de las nuevas tendencias en ropa')

                    .col-sm-6
                        .psm-blog__img
                            img.img-responsive(src= basedir + '2018/05/psm-category-tendencias-en-ropa-2.jpg' alt='Entérate de las nuevas tendencias en ropa')
                            
                        .psm-blog__description
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                            ul.psm-blog__list
                                li Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                                li Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

        section.psm-section.psm-section--gray.psm-blog.psm-blog--detail
            .container
                .row
                    .col-sm-6
                        .psm-blog__img
                            img.img-responsive(src= basedir + '2018/05/psm-category-tendencias-en-ropa-3.jpg' alt='Entérate de las nuevas tendencias en ropa')

                    .col-sm-6
                        .psm-blog__head
                            h3.psm-blog__title.psm-text--blue Lorem #[b Ipsum dolor sit amet], consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .psm-blog__description
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        

        section.psm-section
            .container
                .psm-section__head
                    h3.psm-section__title Notas relacionadas
                    p.text-center Las últimas noticias, coberturas e información de tu marca favorita están en nuestro blog. ¡Visítalo!

                .psm-section__main
                    .row
                        .col-sm-6.col-md-6
                            a.btn.psm-btn.psm-category__item.psm-category__item--tendencias(href='#' title='Tendencias')
                                img.img-responsive(src= basedir + '2018/05/psm-tpl-tendencia-01.png' alt='Tendencias')
                                .psm-category__img
                                    img.img-responsive(src= basedir + '2018/05/psm-tendencia-01.jpg' alt='Tendencias')
                                .psm-category__caption
                                    h3.psm-category__title Tendencia
                                    p.psm-category__text Verte natural, el nuevo estilo de la belleza fit.

                        .col-sm-6.col-md-3
                            a.btn.psm-btn.psm-category__item.psm-category__item--tendencias(href='#' title='Tendencias')
                                picture
                                    source(srcset= basedir + '2018/05/psm-tpl-tendencia-02.png' media='(min-width: 992px)')
                                    img.img-responsive(src= basedir + '2018/05/psm-tpl-tendencia-01.png' alt='Tendencias')
                                .psm-category__img
                                    img.img-responsive(src= basedir + '2018/05/psm-tendencia-02.jpg' alt='Tendencias')
                                .psm-category__caption
                                    h3.psm-category__title Tendencia
                                    p.psm-category__text Verte natural, el nuevo estilo de la belleza fit.

                        .col-sm-6.col-md-3
                            a.btn.psm-btn.psm-category__item.psm-category__item--tendencias(href='#' title='Tendencias')
                                picture
                                    source(srcset= basedir + '2018/05/psm-tpl-tendencia-02.png' media='(min-width: 992px)')
                                    img.img-responsive(src= basedir + '2018/05/psm-tpl-tendencia-01.png' alt='Tendencias')
                                .psm-category__img
                                    img.img-responsive(src= basedir + '2018/05/psm-tendencia-03.jpg' alt='Tendencias')
                                .psm-category__caption
                                    h3.psm-category__title Tendencia
                                    p.psm-category__text Verte natural, el nuevo estilo de la belleza fit. 