//- Layout
extends layout/base.pug

block globalvars
    - title = 'Marca - Plaza San Miguel'
    - basedir = baseurl + uploads
    - section = 2

//- Content Landing
block content
    
    //- Hero
    include elements/banner-brand.pug

    main.psm-main

        section.psm-section.psm-brand
            .container
                .psm-filter
                    .row
                        .col-sm-6
                            .form-group.psm-group__select
                                label.psm-label(for='categoria') Categorias
                                select.psm-select.form-control.selectpicker(id='categoria' name='categoria')
                                    option Todos
                                    option 1
                                    option 1
                                    option 3
                        .col-sm-6
                            .form-group.psm-group__select
                                label.psm-label(for='piso') Piso
                                select.psm-select.form-control.selectpicker(id='piso' name='piso')
                                    option Todos
                                    option 1
                                    option 1
                                    option 3

                .psm-brand__main
                    .row
                        .col-xs-6.col-sm-4.col-md-3.col-lg-2
                            a.psm-brand__item(href='#' title='Interbank')
                                .psm-brand__img
                                    i.fa.fa-plus
                                    img.img-responsive(src= basedir + '2018/05/psm-brand-interbank.jpg' alt='Interbank')

                                .psm-brand__caption
                                    h5.psm-brand__title Interbank

                        .col-xs-6.col-sm-4.col-md-3.col-lg-2
                            a.psm-brand__item(href='#' title='Banco de Credito')
                                .psm-brand__img
                                    i.fa.fa-plus
                                    img.img-responsive(src= basedir + '2018/05/psm-brand-bcp.jpg' alt='Banco de Credito')

                                .psm-brand__caption
                                    h5.psm-brand__title BCP

                        .col-xs-6.col-sm-4.col-md-3.col-lg-2
                            a.psm-brand__item(href='#' title='Scotiabank')
                                .psm-brand__img
                                    i.fa.fa-plus
                                    img.img-responsive(src= basedir + '2018/05/psm-brand-scotiabank.jpg' alt='Scotiabank')

                                .psm-brand__caption
                                    h5.psm-brand__title Scotiabank

                        .col-xs-6.col-sm-4.col-md-3.col-lg-2
                            a.psm-brand__item(href='#' title='La bodega de la Trattoria')
                                .psm-brand__img
                                    i.fa.fa-plus
                                    img.img-responsive(src= basedir + '2018/05/psm-brand-la-bodega-de-la-trattoria.jpg' alt='La bodega de la Trattoria')

                                .psm-brand__caption
                                    h5.psm-brand__title La bodega de la Trattoria

                        .col-xs-6.col-sm-4.col-md-3.col-lg-2
                            a.psm-brand__item(href='#' title='Frutix')
                                .psm-brand__img
                                    i.fa.fa-plus
                                    img.img-responsive(src= basedir + '2018/05/psm-brand-frutix.jpg' alt='Frutix')

                                .psm-brand__caption
                                    h5.psm-brand__title Frutix

                        .col-xs-6.col-sm-4.col-md-3.col-lg-2
                            a.psm-brand__item(href='#' title='Adidas')
                                .psm-brand__img
                                    i.fa.fa-plus
                                    img.img-responsive(src= basedir + '2018/05/psm-brand-adidas.jpg' alt='Adidas')

                                .psm-brand__caption
                                    h5.psm-brand__title Adidas

                        .col-xs-6.col-sm-4.col-md-3.col-lg-2
                            a.psm-brand__item(href='#' title='Saga Falabella')
                                .psm-brand__img
                                    i.fa.fa-plus
                                    img.img-responsive(src= basedir + '2018/05/psm-brand-saga-falabella.jpg' alt='Saga Falabella')

                                .psm-brand__caption
                                    h5.psm-brand__title Saga Falabella

                        .col-xs-6.col-sm-4.col-md-3.col-lg-2
                            a.psm-brand__item(href='#' title='Ripley')
                                .psm-brand__img
                                    i.fa.fa-plus
                                    img.img-responsive(src= basedir + '2018/05/psm-brand-ripley.jpg' alt='Ripley')

                                .psm-brand__caption
                                    h5.psm-brand__title Ripley

                        .col-xs-6.col-sm-4.col-md-3.col-lg-2
                            a.psm-brand__item(href='#' title='iShop')
                                .psm-brand__img
                                    i.fa.fa-plus
                                    img.img-responsive(src= basedir + '2018/05/psm-brand-ishop.jpg' alt='iShop')

                                .psm-brand__caption
                                    h5.psm-brand__title iShop

                        .col-xs-6.col-sm-4.col-md-3.col-lg-2
                            a.psm-brand__item(href='#' title='Marathon')
                                .psm-brand__img
                                    i.fa.fa-plus
                                    img.img-responsive(src= basedir + '2018/05/psm-brand-marathon.jpg' alt='Marathon')

                                .psm-brand__caption
                                    h5.psm-brand__title Marathon

                        .col-xs-6.col-sm-4.col-md-3.col-lg-2
                            a.psm-brand__item(href='#' title='Bata')
                                .psm-brand__img
                                    i.fa.fa-plus
                                    img.img-responsive(src= basedir + '2018/05/psm-brand-bata.jpg' alt='Bata')

                                .psm-brand__caption
                                    h5.psm-brand__title Bata

                        .col-xs-6.col-sm-4.col-md-3.col-lg-2
                            a.psm-brand__item(href='#' title='Wong')
                                .psm-brand__img
                                    i.fa.fa-plus
                                    img.img-responsive(src= basedir + '2018/05/psm-brand-wong.jpg' alt='Wong')

                                .psm-brand__caption
                                    h5.psm-brand__title Wong