//- Layout
extends layout/base.pug

block globalvars
    - title = 'Marca - Plaza San Miguel'
    - basedir = baseurl + uploads
    - section = 2

//- Content Landing
block content
    
    //- Hero
    include elements/banner-brand-details.pug

    main.psm-main

        section.psm-section.psm-brand__details
            .container
                .row
                    .col-sm-6
                        .psm-brand__carousel.owl-carousel#psm-brand__carousel
                            .psm-brand__carousel__item
                                img.img-responsive(src= basedir + '2018/05/psm-brand-la-bodega-de-la-trattoria-imagen-1.jpg' alt='La bodega de la Trattoria')
                            .psm-brand__carousel__item
                                img.img-responsive(src= basedir + '2018/05/psm-brand-la-bodega-de-la-trattoria-imagen-2.jpg' alt='La bodega de la Trattoria')

                    .col-sm-6
                        .psm-brand__logo
                            img.img-responsive(src= basedir + '2018/05/psm-brand-la-bodega-de-la-trattoria.jpg' alt='La bodega de la Trattoria')
                            
                        .psm-brand__contact
                            .row
                                .col-sm-6
                                    .psm-brand__contact__title Ubicación
                                    h4.psm-brand__contact__text Tienda 102 #[span Segundo Piso]
                                .col-sm-6
                                    .psm-brand__contact__title Horario de atención
                                    h4.psm-brand__contact__text 10:00 am - 10:30 pm

                        .psm-brand__description
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 

        section.psm-section.psm-section--gray.psm-offer
            .container
                .psm-section__head
                    h3.psm-section__title Ofertas exclusivas de la tienda
                    p.text-center Aquí encontrarás las mejores promociones para disfrutar de un gran día

                .psm-section__main
                    .psm-offer__list
                        .row
                            .col-sm-6.col-md-4
                                .psm-offer__item.text-center
                                    .psm-offer__item__head
                                        h2.psm-offer__title #[i S/]17.50
                                        h3.psm-offer__subtitle Plato a la carta + Bebida
                                        p.psm-offer__text Válido: 09 de abril hasta el 31 de abril 
                                    p.psm-offer__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eveniam, quis nostrud exercitation ullamco ex ea commodo consequat.
                            
                            .col-sm-6.col-md-4
                                .psm-offer__item.text-center
                                    .psm-offer__item__head
                                        h2.psm-offer__title 50#[i %]
                                        h3.psm-offer__subtitle Dscto. en pastas
                                        p.psm-offer__text Válido: 09 de abril hasta el 31 de abril 
                                    p.psm-offer__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eveniam, quis nostrud exercitation ullamco ex ea commodo consequat
                            
                            .col-sm-6.col-md-4
                                .psm-offer__item.text-center
                                    .psm-offer__item__head
                                        h2.psm-offer__title 2#[i x]1
                                        h3.psm-offer__subtitle en bebidas
                                        p.psm-offer__text Válido: 09 de abril hasta el 31 de abril
                                    p.psm-offer__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eveniam, quis nostrud exercitation ullamco ex ea commodo consequat

                    p.text-center ¡Aún tienes mucho más por descubrir!
                    .psm-btns.text-center
                        a.btn.psm-btn.psm-btn--orange(href="#" title='Ver todas las ofertas') Ver todas las ofertas

        section.psm-section
            .container
                .psm-section__head
                    h3.psm-section__title Notas relacionadas
                    p.text-center Las últimas noticias, coberturas e información de tu marca favorita están en nuestro blog. ¡Visítalo!

                .psm-section__main
                    .row
                        .col-sm-6.col-md-6
                            a.btn.psm-btn.psm-category__item.psm-category__item--tendencias(href='#' title='Tendencias')
                                img.img-responsive(src= basedir + '2018/05/psm-tpl-tendencia-01.png' alt='Tendencias')
                                .psm-category__img
                                    img.img-responsive(src= basedir + '2018/05/psm-tendencia-01.jpg' alt='Tendencias')
                                .psm-category__caption
                                    h3.psm-category__title Tendencia
                                    p.psm-category__text Verte natural, el nuevo estilo de la belleza fit.

                        .col-sm-6.col-md-3
                            a.btn.psm-btn.psm-category__item.psm-category__item--tendencias(href='#' title='Tendencias')
                                picture
                                    source(srcset= basedir + '2018/05/psm-tpl-tendencia-02.png' media='(min-width: 992px)')
                                    img.img-responsive(src= basedir + '2018/05/psm-tpl-tendencia-01.png' alt='Tendencias')
                                .psm-category__img
                                    img.img-responsive(src= basedir + '2018/05/psm-tendencia-02.jpg' alt='Tendencias')
                                .psm-category__caption
                                    h3.psm-category__title Tendencia
                                    p.psm-category__text Verte natural, el nuevo estilo de la belleza fit.

                        .col-sm-6.col-md-3
                            a.btn.psm-btn.psm-category__item.psm-category__item--tendencias(href='#' title='Tendencias')
                                picture
                                    source(srcset= basedir + '2018/05/psm-tpl-tendencia-02.png' media='(min-width: 992px)')
                                    img.img-responsive(src= basedir + '2018/05/psm-tpl-tendencia-01.png' alt='Tendencias')
                                .psm-category__img
                                    img.img-responsive(src= basedir + '2018/05/psm-tendencia-03.jpg' alt='Tendencias')
                                .psm-category__caption
                                    h3.psm-category__title Tendencia
                                    p.psm-category__text Verte natural, el nuevo estilo de la belleza fit. 