//- Layout
extends layout/base.pug

block globalvars
    - title = 'Eventos - Plaza San Miguel'
    - basedir = baseurl + uploads
    - section = 3

//- Content Landing
block content
    
    //- Hero
    include elements/banner-events.pug

    main.psm-main

        section.psm-section.psm-event
            .container
                .psm-filter
                    .row
                        .col-sm-6.col-md-4
                            .form-group.psm-group__select
                                label.psm-label(for='categoria') Categorias
                                select.psm-select.form-control.selectpicker(id='categoria' name='categoria')
                                    option Todos
                                    option 1
                                    option 1
                                    option 3
                        .col-sm-6.col-md-4
                            .form-group.psm-group__select
                                label.psm-label(for='area') Area
                                select.psm-select.form-control.selectpicker(id='area' name='area')
                                    option Todos
                                    option 1
                                    option 1
                                    option 3

                        .col-sm-6.col-md-4
                            .form-group.psm-group__select
                                label.psm-label(for='ordenar') Ordenar por
                                select.psm-select.form-control.selectpicker(id='ordenar' name='ordenar')
                                    option Recientes
                                    option 1
                                    option 1
                                    option 3

                .psm-event__main
                    .psm-event__list
                        .row
                            .col-sm-4.col-md-3.col-lg-3
                                a.btn.psm-btn.psm-event__item
                                    .psm-event__img
                                        i.fa.fa-plus
                                        img.img-responsive(src= basedir + '2018/05/psm-events-viernes-tematico.jpg' alt='Rock de los 80’s en inglés y español')
                                        .psm-event__date #[b 04] #[span ENE]
                                    .psm-event__info
                                        h4.psm-event__subtitle #Viernestemático
                                        h3.psm-event__title Rock de los 80’s en inglés y español
                                        .psm-event__info-place
                                            p Plaza Central
                                            p 7:30 - 9:30 p.m.

                            .col-sm-4.col-md-3.col-lg-3
                                a.btn.psm-btn.psm-event__item
                                    .psm-event__img
                                        i.fa.fa-plus
                                        img.img-responsive(src= basedir + '2018/05/psm-events-jueves-acustico.jpg' alt='Luis Alcazar en vivo')
                                        .psm-event__date #[b 09] #[span FEB]
                                    .psm-event__info
                                        h4.psm-event__subtitle #Juevesacústico
                                        h3.psm-event__title Luis Alcazar en vivo
                                        .psm-event__info-place
                                            p Plaza Central
                                            p 7:30 - 9:30 p.m.

                            .col-sm-4.col-md-3.col-lg-3
                                a.btn.psm-btn.psm-event__item
                                    .psm-event__img
                                        i.fa.fa-plus
                                        img.img-responsive(src= basedir + '2018/05/psm-events-musica-en-vivo.jpg' alt='Voz & Soul')
                                        .psm-event__date #[b 09] #[span MAR]
                                    .psm-event__info
                                        h4.psm-event__subtitle Música en Vivo
                                        h3.psm-event__title Voz & Soul
                                        .psm-event__info-place
                                            p Plaza Central
                                            p 7:30 - 9:30 p.m.

                            .col-sm-4.col-md-3.col-lg-3
                                a.btn.psm-btn.psm-event__item
                                    .psm-event__img
                                        i.fa.fa-plus
                                        img.img-responsive(src= basedir + '2018/05/psm-events-infantil.jpg' alt='Búsqueda del tesoro')
                                        .psm-event__date #[b 09] #[span ABR]
                                    .psm-event__info
                                        h4.psm-event__subtitle Infantil
                                        h3.psm-event__title Búsqueda del tesoro
                                        .psm-event__info-place
                                            p Plaza Central
                                            p 7:30 - 9:30 p.m.

                            .col-sm-4.col-md-3.col-lg-3
                                a.btn.psm-btn.psm-event__item
                                    .psm-event__img
                                        i.fa.fa-plus
                                        img.img-responsive(src= basedir + '2018/05/psm-events-mastes-de-familia.jpg' alt='En vivo: Perú vs Francia')
                                        .psm-event__date #[b 04] #[span MAY]
                                    .psm-event__info
                                        h4.psm-event__subtitle Martes de familia
                                        h3.psm-event__title En vivo: Perú vs Francia
                                        .psm-event__info-place
                                            p Plaza Central
                                            p 7:30 - 9:30 p.m.

                            .col-sm-4.col-md-3.col-lg-3
                                a.btn.psm-btn.psm-event__item
                                    .psm-event__img
                                        i.fa.fa-plus
                                        img.img-responsive(src= basedir + '2018/05/psm-events-jueves-acustico-2.jpg' alt='Jair Mendoza')
                                        .psm-event__date #[b 09] #[span JUN]
                                    .psm-event__info
                                        h4.psm-event__subtitle #Juevesacústico
                                        h3.psm-event__title Jair Mendoza
                                        .psm-event__info-place
                                            p Plaza Central
                                            p 7:30 - 9:30 p.m.

                            .col-sm-4.col-md-3.col-lg-3
                                a.btn.psm-btn.psm-event__item
                                    .psm-event__img
                                        i.fa.fa-plus
                                        img.img-responsive(src= basedir + '2018/05/psm-events-comparsa.jpg' alt='Comparsa 41 aniversario')
                                        .psm-event__date #[b 09] #[span JUL]
                                    .psm-event__info
                                        h4.psm-event__subtitle Música en Vivo
                                        h3.psm-event__title Comparsa 41 aniversario
                                        .psm-event__info-place
                                            p Plaza Central
                                            p 7:30 - 9:30 p.m.

                            .col-sm-4.col-md-3.col-lg-3
                                a.btn.psm-btn.psm-event__item
                                    .psm-event__img
                                        i.fa.fa-plus
                                        img.img-responsive(src= basedir + '2018/05/psm-events-infantil.jpg' alt='Shania Lazo')
                                        .psm-event__date #[b 09] #[span AGO]
                                    .psm-event__info
                                        h4.psm-event__subtitle #Juevesacústico
                                        h3.psm-event__title Shania Lazo
                                        .psm-event__info-place
                                            p Plaza Central
                                            p 7:30 - 9:30 p.m.

                            .col-sm-4.col-md-3.col-lg-3
                                a.btn.psm-btn.psm-event__item
                                    .psm-event__img
                                        i.fa.fa-plus
                                        img.img-responsive(src= basedir + '2018/05/psm-events-viernes-tematico.jpg' alt='Rock de los 80’s en inglés y español')
                                        .psm-event__date #[b 04] #[span AGO]
                                    .psm-event__info
                                        h4.psm-event__subtitle #Viernestemático
                                        h3.psm-event__title Rock de los 80’s en inglés y español
                                        .psm-event__info-place
                                            p Plaza Central
                                            p 7:30 - 9:30 p.m.

                            .col-sm-4.col-md-3.col-lg-3
                                a.btn.psm-btn.psm-event__item
                                    .psm-event__img
                                        i.fa.fa-plus
                                        img.img-responsive(src= basedir + '2018/05/psm-events-jueves-acustico.jpg' alt='Luis Alcazar en vivo')
                                        .psm-event__date #[b 09] #[span SET]
                                    .psm-event__info
                                        h4.psm-event__subtitle #Juevesacústico
                                        h3.psm-event__title Luis Alcazar en vivo
                                        .psm-event__info-place
                                            p Plaza Central
                                            p 7:30 - 9:30 p.m.

                            .col-sm-4.col-md-3.col-lg-3
                                a.btn.psm-btn.psm-event__item
                                    .psm-event__img
                                        i.fa.fa-plus
                                        img.img-responsive(src= basedir + '2018/05/psm-events-musica-en-vivo.jpg' alt='Voz & Soul')
                                        .psm-event__date #[b 09] #[span NOV]
                                    .psm-event__info
                                        h4.psm-event__subtitle Música en Vivo
                                        h3.psm-event__title Voz & Soul
                                        .psm-event__info-place
                                            p Plaza Central
                                            p 7:30 - 9:30 p.m.

                            .col-sm-4.col-md-3.col-lg-3
                                a.btn.psm-btn.psm-event__item
                                    .psm-event__img
                                        i.fa.fa-plus
                                        img.img-responsive(src= basedir + '2018/05/psm-events-infantil.jpg' alt='Búsqueda del tesoro')
                                        .psm-event__date #[b 09] #[span DIC]
                                    .psm-event__info
                                        h4.psm-event__subtitle Infantil
                                        h3.psm-event__title Búsqueda del tesoro
                                        .psm-event__info-place
                                            p Plaza Central
                                            p 7:30 - 9:30 p.m.

                        .psm-pagination
                            ul.pagination.pagination-md.pagination-lg
                                li
                                    a.psm-link.active(href='#') 1
                                li
                                    a.psm-link(href='#') 2
                                li
                                    a.psm-link(href='#') 3
                                li
                                    a.psm-link(href='#') 4
                                li
                                    a.psm-link(href='#') 5

                        