//- Layout
extends layout/base.pug

block globalvars
    - title = 'Eventos - Plaza San Miguel'
    - basedir = baseurl + uploads
    - section = 3

//- Content Landing
block content
    
    //- Hero
    include elements/banner-event-details.pug

    main.psm-main
        //- Hero
        include elements/hero-event-details.pug

        section.psm-section.psm-event.psm-event__detail
            .container
                .row
                    .col-sm-6
                        .psm-event
                            .psm-event__detail-img
                                img.img-responsive(src= basedir + '2018/05/psm-events-viernes-tematico.jpg' alt='Rock de los 80’s en inglés y español')

                    .col-sm-6
                        .psm-section__head
                            h3.psm-section__title.text-right Lorem #[strong Ipsum dolor sit amet], consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        
                        .psm-event__detail
                            .row
                                .col-md-5
                                    .psm-event__detail-info
                                        p Ubicacion
                                        p 
                                            b Plaza a la Carta
                                .col-md-7
                                    .row
                                        .col-md-4
                                            .psm-event__detail-date #[b 04] #[span ENE]
                                        .col-md-8
                                            .psm-event__detail-info
                                                p Horario de atencion
                                                p 
                                                    b 7:30 - 9:30 p.m.

                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 

                        .psm-btns.text-center
                            a.btn.psm-btn.psm-btn--purple(href='#' title='Agendar ahora') Agendar ahora



        section.psm-section.psm-section--gray
            .container
                .psm-section__head
                    .psm-section__head
                    h3.psm-section__title #[span Lorem ipsum #[strong.psm-text--green dolor] sit amet, consectetur #[strong.psm-text--orange adipisicing elit. ]] #[span Sed do eiusmod tempor incididunt ut labore. ]
                p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.

        section.psm-section.psm-event
            .container
                .psm-section__head
                    h3.psm-section__title Eventos relacionados
                    p.text-center Si te gustó este evento, no dejes de asistir a los que se vienen.

                .psm-event__main
                    .psm-event__list
                        .row
                            .col-sm-4.col-md-3.col-lg-3
                                a.btn.psm-btn.psm-event__item
                                    .psm-event__img
                                        i.fa.fa-plus
                                        img.img-responsive(src= basedir + '2018/05/psm-events-viernes-tematico.jpg' alt='Rock de los 80’s en inglés y español')
                                        .psm-event__date #[b 04] #[span ENE]
                                    .psm-event__info
                                        h4.psm-event__subtitle #Viernestemático
                                        h3.psm-event__title Rock de los 80’s en inglés y español
                                        .psm-event__info-place
                                            p Plaza Central
                                            p 7:30 - 9:30 p.m.

                            .col-sm-4.col-md-3.col-lg-3
                                a.btn.psm-btn.psm-event__item
                                    .psm-event__img
                                        i.fa.fa-plus
                                        img.img-responsive(src= basedir + '2018/05/psm-events-jueves-acustico.jpg' alt='Luis Alcazar en vivo')
                                        .psm-event__date #[b 09] #[span FEB]
                                    .psm-event__info
                                        h4.psm-event__subtitle #Juevesacústico
                                        h3.psm-event__title Luis Alcazar en vivo
                                        .psm-event__info-place
                                            p Plaza Central
                                            p 7:30 - 9:30 p.m.

                            .col-sm-4.col-md-3.col-lg-3
                                a.btn.psm-btn.psm-event__item
                                    .psm-event__img
                                        i.fa.fa-plus
                                        img.img-responsive(src= basedir + '2018/05/psm-events-musica-en-vivo.jpg' alt='Voz & Soul')
                                        .psm-event__date #[b 09] #[span MAR]
                                    .psm-event__info
                                        h4.psm-event__subtitle Música en Vivo
                                        h3.psm-event__title Voz & Soul
                                        .psm-event__info-place
                                            p Plaza Central
                                            p 7:30 - 9:30 p.m.

                            .col-sm-4.col-md-3.col-lg-3
                                a.btn.psm-btn.psm-event__item
                                    .psm-event__img
                                        i.fa.fa-plus
                                        img.img-responsive(src= basedir + '2018/05/psm-events-infantil.jpg' alt='Búsqueda del tesoro')
                                        .psm-event__date #[b 09] #[span ABR]
                                    .psm-event__info
                                        h4.psm-event__subtitle Infantil
                                        h3.psm-event__title Búsqueda del tesoro
                                        .psm-event__info-place
                                            p Plaza Central
                                            p 7:30 - 9:30 p.m.