//- Layout
extends layout/base.pug

block globalvars
    - title = 'Promociones - Plaza San Miguel'
    - basedir = baseurl + uploads
    - section = 4

//- Content Landing
block content
    
    //- Hero
    include elements/banner-offer.pug

    main.psm-main

        section.psm-section.psm-offer
            .container
                .psm-filter
                    .row
                        .col-sm-6.col-md-4
                            .form-group.psm-group__select
                                label.psm-label(for='categoria') Categorias
                                select.psm-select.form-control.selectpicker(id='categoria' name='categoria')
                                    option Todos
                                    option 1
                                    option 1
                                    option 3
                        .col-sm-6.col-md-4
                            .form-group.psm-group__select
                                label.psm-label(for='area') Area
                                select.psm-select.form-control.selectpicker(id='area' name='area')
                                    option Todos
                                    option 1
                                    option 1
                                    option 3

                        .col-sm-6.col-md-4
                            .form-group.psm-group__select
                                label.psm-label(for='ordenar') Ordenar por
                                select.psm-select.form-control.selectpicker(id='ordenar' name='ordenar')
                                    option Recientes
                                    option 1
                                    option 1
                                    option 3

                .psm-offer__main
                    .psm-offer__list
                        .row
                            .col-sm-6.col-md-4
                                .psm-offer__item.text-center
                                    .psm-offer__img
                                        img.img-responsive(src= basedir + '2018/05/psm-brand-la-bodega-de-la-trattoria.jpg' alt='La bodega de la Trattoria')
                                    h2.psm-offer__title #[i S/]17.50
                                    h3.psm-offer__subtitle Plato a la carta + Bebida
                                    .psm-offer__caption
                                        .psm-offer__item__head
                                            h2.psm-offer__title #[i S/]17.50
                                            h3.psm-offer__subtitle Plato a la carta + Bebida
                                            p.psm-offer__text Válido: 09 de abril hasta el 31 de abril 
                                        p.psm-offer__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eveniam, quis nostrud exercitation ullamco ex ea commodo consequat.
                            
                            .col-sm-6.col-md-4
                                .psm-offer__item.text-center
                                    .psm-offer__img
                                        img.img-responsive(src= basedir + '2018/05/psm-brand-ishop.jpg' alt='iShop')
                                    h2.psm-offer__title 50#[i %]
                                    h3.psm-offer__subtitle Dscto. en pastas
                                    .psm-offer__caption
                                        .psm-offer__item__head
                                            h2.psm-offer__title 50#[i %]
                                            h3.psm-offer__subtitle Dscto. en pastas
                                            p.psm-offer__text Válido: 09 de abril hasta el 31 de abril 
                                        p.psm-offer__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eveniam, quis nostrud exercitation ullamco ex ea commodo consequat
                            
                            .col-sm-6.col-md-4
                                .psm-offer__item.text-center
                                    .psm-offer__img
                                        img.img-responsive(src= basedir + '2018/05/psm-brand-frutix.jpg' alt='Frutix')
                                    h2.psm-offer__title 2#[i x]1
                                    h3.psm-offer__subtitle en bebidas
                                    .psm-offer__caption
                                        .psm-offer__item__head
                                            h2.psm-offer__title 2#[i x]1
                                            h3.psm-offer__subtitle en bebidas
                                            p.psm-offer__text Válido: 09 de abril hasta el 31 de abril
                                        p.psm-offer__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eveniam, quis nostrud exercitation ullamco ex ea commodo consequat

                            .col-sm-6.col-md-4
                                .psm-offer__item.text-center
                                    .psm-offer__img
                                        img.img-responsive(src= basedir + '2018/05/psm-brand-wong.jpg' alt='Wong')
                                    h2.psm-offer__title #[i S/]17.50
                                    h3.psm-offer__subtitle Plato a la carta + Bebida
                                    .psm-offer__caption
                                        .psm-offer__item__head
                                            h2.psm-offer__title #[i S/]17.50
                                            h3.psm-offer__subtitle Plato a la carta + Bebida
                                            p.psm-offer__text Válido: 09 de abril hasta el 31 de abril 
                                        p.psm-offer__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eveniam, quis nostrud exercitation ullamco ex ea commodo consequat.
                            
                            .col-sm-6.col-md-4
                                .psm-offer__item.text-center
                                    .psm-offer__img
                                        img.img-responsive(src= basedir + '2018/05/psm-brand-adidas.jpg' alt='Adidas')
                                    h2.psm-offer__title 50#[i %]
                                    h3.psm-offer__subtitle Dscto. en pastas
                                    .psm-offer__caption
                                        .psm-offer__item__head
                                            h2.psm-offer__title 50#[i %]
                                            h3.psm-offer__subtitle Dscto. en pastas
                                            p.psm-offer__text Válido: 09 de abril hasta el 31 de abril 
                                        p.psm-offer__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eveniam, quis nostrud exercitation ullamco ex ea commodo consequat
                            
                            .col-sm-6.col-md-4
                                .psm-offer__item.text-center
                                    .psm-offer__img
                                        img.img-responsive(src= basedir + '2018/05/psm-brand-ripley.jpg' alt='Ripley')
                                    h2.psm-offer__title 2#[i x]1
                                    h3.psm-offer__subtitle en bebidas
                                    .psm-offer__caption
                                        .psm-offer__item__head
                                            h2.psm-offer__title 2#[i x]1
                                            h3.psm-offer__subtitle en bebidas
                                            p.psm-offer__text Válido: 09 de abril hasta el 31 de abril
                                        p.psm-offer__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eveniam, quis nostrud exercitation ullamco ex ea commodo consequat

                            .col-sm-6.col-md-4
                                .psm-offer__item.text-center
                                    .psm-offer__img
                                        img.img-responsive(src= basedir + '2018/05/psm-brand-marathon.jpg' alt='Marathon')
                                    h2.psm-offer__title #[i S/]17.50
                                    h3.psm-offer__subtitle Plato a la carta + Bebida
                                    .psm-offer__caption
                                        .psm-offer__item__head
                                            h2.psm-offer__title #[i S/]17.50
                                            h3.psm-offer__subtitle Plato a la carta + Bebida
                                            p.psm-offer__text Válido: 09 de abril hasta el 31 de abril 
                                        p.psm-offer__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eveniam, quis nostrud exercitation ullamco ex ea commodo consequat.
                            
                            .col-sm-6.col-md-4
                                .psm-offer__item.text-center
                                    .psm-offer__img
                                        img.img-responsive(src= basedir + '2018/05/psm-brand-saga-falabella.jpg' alt='Saga Falabella')
                                    h2.psm-offer__title 50#[i %]
                                    h3.psm-offer__subtitle Dscto. en pastas
                                    .psm-offer__caption
                                        .psm-offer__item__head
                                            h2.psm-offer__title 50#[i %]
                                            h3.psm-offer__subtitle Dscto. en pastas
                                            p.psm-offer__text Válido: 09 de abril hasta el 31 de abril 
                                        p.psm-offer__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eveniam, quis nostrud exercitation ullamco ex ea commodo consequat
                            
                            .col-sm-6.col-md-4
                                .psm-offer__item.text-center
                                    .psm-offer__img
                                        img.img-responsive(src= basedir + '2018/05/psm-brand-scotiabank.jpg' alt='Scotiabank')
                                    h2.psm-offer__title 2#[i x]1
                                    h3.psm-offer__subtitle en bebidas
                                    .psm-offer__caption
                                        .psm-offer__item__head
                                            h2.psm-offer__title 2#[i x]1
                                            h3.psm-offer__subtitle en bebidas
                                            p.psm-offer__text Válido: 09 de abril hasta el 31 de abril
                                        p.psm-offer__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eveniam, quis nostrud exercitation ullamco ex ea commodo consequat
                        