//- Layout
extends layout/base.pug

block globalvars
    - title = 'Suscribete - Plaza San Miguel'
    - basedir = baseurl + uploads
    - section = 6

//- Content Landing
block content
    
    //- Hero
    include elements/banner-subscribe.pug

    main.psm-main

        section.psm-section.psm-subscribe
            .container
                h3.psm-subscribe__title Cuéntanos qué ofertas, promociones o información deseas recibir en tu correo y nos pondremos en contacto. ¡Gracias por ser parte de Plaza!
                form.psm-subscribe__form(action='post' autocomplete='off')
                    .form-group
                        label.psm-label(for='name') Nombres y Apellidos
                        input.psm-input.form-control(type='text' id='name' name='name')

                    .row
                        .col-sm-6
                            .form-group
                                label.psm-label(for='email') Correo electrónico
                                input.psm-input.form-control(type='text' id='email' name='email')
                        .col-sm-6
                            .form-group
                                label.psm-label(for='telephone') Teléfono
                                input.psm-input.form-control(type='text' id='telephone' name='telephone' maxlength='9')
                    .form-group
                        .row
                            .col-xs-3.col-sm-6
                                label.psm-label(for='email') Intereses
                            .col-xs-9.col-sm-6
                                .row
                                    .col-xs-8.col-sm-6.col-sm-offset-3.col-md-5.col-md-offset-5.text-right
                                        label.psm-label Seleccionar todas
                                    .col-xs-4.col-sm-3.col-md-2
                                        input.psm-input.psm-input__toggle(type='checkbox' data-onstyle='default' data-style='psm-input--toggle' data-size='mini')
                        .row
                            .psm-subscribe__intereses
                                .col-sm-6.col-md-3
                                    label.psm-label.psm-subscribe__interes(for='familia')
                                        .psm-subscribe__img
                                            img.img-responsive(src= basedir + '2018/05/psm-subscribe-familia.jpg' alt='Familia')
                                        .psm-subscribe__caption.text-center
                                            h4.psm-subscribe__title Familia
                                            p.psm-subscribe__text Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                        .checkbox.psm-input--checkbox
                                            label.psm-label.psm-label--blue(for='familia')
                                                input.psm-input(type='checkbox' id='familia' name='familia') 
                                                span

                                .col-sm-6.col-md-3
                                    label.psm-label.psm-subscribe__interes(for='moda')
                                        .psm-subscribe__img
                                            img.img-responsive(src= basedir + '2018/05/psm-subscribe-moda.jpg' alt='Moda')
                                        .psm-subscribe__caption.text-center
                                            h4.psm-subscribe__title Moda
                                            p.psm-subscribe__text Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                        .checkbox.psm-input--checkbox
                                            label.psm-label.psm-label--blue(for='moda')
                                                input.psm-input(type='checkbox' id='moda' name='moda') 
                                                span

                                .col-sm-6.col-md-3
                                    label.psm-label.psm-subscribe__interes(for='deportes')
                                        .psm-subscribe__img
                                            img.img-responsive(src= basedir + '2018/05/psm-subscribe-deporte.jpg' alt='Deportes')
                                        .psm-subscribe__caption.text-center
                                            h4.psm-subscribe__title Deportes
                                            p.psm-subscribe__text Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                        .checkbox.psm-input--checkbox
                                            label.psm-label.psm-label--blue(for='deportes')
                                                input.psm-input(type='checkbox' id='deportes' name='deportes') 
                                                span

                                .col-sm-6.col-md-3
                                    label.psm-label.psm-subscribe__interes(for='entretenimiento')
                                        .psm-subscribe__img
                                            img.img-responsive(src= basedir + '2018/05/psm-subscribe-entretenimiento.jpg' alt='Entretenimiento')
                                        .psm-subscribe__caption.text-center
                                            h4.psm-subscribe__title Entretenimiento
                                            p.psm-subscribe__text Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                        .checkbox.psm-input--checkbox
                                            label.psm-label.psm-label--blue(for='entretenimiento')
                                                input.psm-input(type='checkbox' id='entretenimiento' name='entretenimiento') 
                                                span
                        
                    .checkbox.psm-input--checkbox   
                        label.psm-label.psm-label--blue(for='ofertas')
                            input.psm-input(type='checkbox' id='ofertas' name='ofertas') 
                            span Nuestras ofertas especiales
                    .checkbox.psm-input--checkbox
                        label.psm-label.psm-label--blue(for='terminos')
                            input.psm-input(type='checkbox' id='terminos' name='terminos' required) 
                            span Acepto los #[a.psm-link.psm-btn__modal(title='términos y condiciones' data-modal='psm-terms') términos y condiciones] #[em.psm-label__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt labore et dolore magna aliqua. ]

                    .psm-btns.text-center
                        button.btn.psm-btn.psm-btn--purple.psm-btn__subscribe(type='submit' title='Enviar') #[b Enviar]

    //- Modal
    include elements/modal/terms
    include elements/modal/subscribe-thank
    include elements/modal/subscribe-error
                                

                    