//== Path
$path: '';
$baseurl: '/';
$uploads: 'images/';

@if $path == 'PROD' {
    $baseurl: '/';
    $uploads: 'wp-content/uploads/';
}

$basedir: #{$baseurl}#{$uploads};

// Breakpoints
$xs-viewport: 460px;
$sm-viewport: 768px;
$md-viewport: 992px;
$lg-viewport: 1200px;

// Fonts
$font-arboria: 'Arboria-Book';
$font-arboria-light: 'Arboria-Light';
$font-arboria-medium: 'Arboria-Medium';
$font-arboria-bold: 'Arboria-Bold';
$font-awesome: 'FontAwesome';

// Colors

$white: #fff;
$black: #000;
$blue: #1c449c;
$green: #008285;
$orange: #f5822b;
$gray: #9e9e9e;
$gray-black: #454545;
$purple: #812582;
$red: #a94442;

$bg-gray: #e7e7e7;

$border-input : #b7b7b7;

$banner: #f0f0f0;
$banner-blue-1: #1c449c;
$banner-blue-2: #0F2457;
$banner-green-1: #008285;
$banner-green-2: #004648;
$banner-orange-1: #f5822b;
$banner-orange-2: #bc5101;
$banner-gray-1: #9e9e9e;
$banner-gray-2: #454545;
$banner-purple-1: #8c2d8d;
$banner-purple-2: #732374;
$banner-white-1: #fff;
$banner-white-2: #cecccc;
$banner-white-3: #d9d9d9;
