.psm {
    &-body {
        color: $gray-black;
        font-family: $font-arboria;
        padding-top: 50px;

        &.modal-open {
            padding-right: 0 !important;
            overflow: auto;
        }
    }

    a,
    &-link {
        color: $blue;
        cursor: pointer;
        
        &:hover {
            text-decoration: underline;
        }
    
        &--active,
        &:active,
        &:focus {
            background-color: transparent !important;
            font-weight: bold;
            outline: none;
            text-decoration: underline;
        }
    }

    &-text {
        &--blue {
            color: $blue;
        }

        &--orange {
            color: $orange;
        }

        &--green {
            color: $green;
        }

        &--purple {
            color: $purple;
        }
    }

    @media (min-width: $md-viewport) {
        &-body {
            padding-top: 60px;
        }
    }

    @media (min-width: $lg-viewport) {
        &-body {
            padding-top: 70px;
        }
    }
}