.modal.fade.psm-search#psm-search(tabindex='-1' role='dialog' aria-labelledby='psmSearch')
    .modal-dialog(role='document')
        .modal-content
            .modal-body
                .container
                    form.psm-search__form(action='post' autocomplete='off')
                        .input-group
                            .psm-search__input
                                input.psm-input.form-control(type='text' id='txt_buscar' name='txt_buscar' placeholder='¿Qué estas buscando?')
                            .input-group-btn
                                button.btn.psm-btn.psm-btn--search.psm-btn__search(type='submit' title='Buscar')
                                    i.fa.fa-search
                                button.btn.psm-btn.psm-btn--close.psm-btn__close(type='button' data-dismiss='modal' title='Cerrar')
                                    i.fa.fa-close