.modal.fade.psm-modal#psm-subscribe__error(tabindex='-1' role='dialog' aria-labelledby='psmError')
    .modal-dialog(role='document')
        .modal-content.text-center
            .modal-head
                h2.psm-modal__title ¡Error!
                button.btn.psm-btn.psm-btn--close.psm-btn__close(type='button' data-dismiss='modal' title='Cerrar')
                    i.fa.fa-close
            .modal-body
                .psm-modal__icon.psm-modal__icon--error
                    i.fa.fa-ban
                p.psm-modal__text ¡Vaya! Algo salió mal. Trata de volver a cargar esta página o no dudes en contactar con nosotros si el problema persiste.
                .psm-btns.text-center
                    button.btn.psm-btn.psm-btn--purple(type='button' data-dismiss='modal' title='Aceptar') #[b Aceptar]
