.modal.fade.psm-modal#psm-subscribe__thank(tabindex='-1' role='dialog' aria-labelledby='psmThank')
    .modal-dialog(role='document')
        .modal-content.text-center
            .modal-head
                h2.psm-modal__title ¡Gracias por suscribirte!
                button.btn.psm-btn.psm-btn--close.psm-btn__close(type='button' data-dismiss='modal' title='Cerrar')
                    i.fa.fa-close
            .modal-body
                .psm-modal__icon
                    i.fa.fa-check-circle-o
                p.psm-modal__text  Ya estamos trabajando para enviar a tu correo las mejores promociones, eventos, invitaciones a lanzamientos y más. ¡Porque Plaza eres tú!
                .psm-btns.text-center
                    button.btn.psm-btn.psm-btn--purple(type='button' data-dismiss='modal' title='Aceptar') #[b Aceptar]
