.modal.fade.psm-modal#psm-terms(tabindex='-1' role='dialog' aria-labelledby='psmTerms')
    .modal-dialog(role='document')
        .modal-content
            .modal-head.text-center
                h2.psm-modal__title Terminos y condiciones
                button.btn.psm-btn.psm-btn--close.psm-btn__close(type='button' data-dismiss='modal' title='Cerrar')
                    i.fa.fa-close
            .modal-body

                ul.psm-modal__list
                    li A fin de evitar accidentes, y respetar el derecho al libre y seguro tránsito de todos nuestros visitantes, queda establecido que no se permite correr dentro de las instalaciones del Centro Comercial.
                    li No está permitida la venta ambulatoria al interior del Centro Comercial.
                    li No está permitido el uso de los tomacorrientes del Centro Comercial. Esto bajo absoluta responsabilidad por los daños materiales y/o personales que pudiera sufrir y/u ocasionar.
                    li No está permitido el ingreso de niños menores de 12 años sin la supervisión de un adulto. Del mismo modo, es importante mencionar que los padres son responsables de sus hijos menores de edad, y de su seguridad al interior de las instalaciones del Centro Comercial.
                    li Finalmente, consideramos oportuno señalar que cualquier visita institucional, o realización de actividades no regulares dentro del Centro Comercial (léase como encuestas, entrevistas, volanteo y/o afines) deberán ser previamente coordinadas y autorizadas mediante envío de correo a la dirección de #[a.psm-link(href='mailto:atencionalcliente@plazasanmiguel.com.pe' title='Atencion al Cliente') atencionalcliente@plazasanmiguel.com.pe].
                    
                .psm-btns.text-center
                    button.btn.psm-btn.psm-btn--purple(type='button' data-dismiss='modal' title='Aceptar') #[b Aceptar]
