footer.psm-footer
    .container
        .row
            .col-sm-5
                h3.psm-footer__title Vive momentos #[strong únicos] en tu plaza de #[b siempre]

            .col-sm-4
                ul.list-inline.psm-footer__nav 
                    li
                        a.psm-link(href='#' alt='Home') Home
                    li
                        a.psm-link(href='#' alt='Marcas') Marcas
                    li
                        a.psm-link(href='#' alt='Eventos') Eventos
                    li
                        a.psm-link(href='#' alt='Promociones') Promociones
                    li
                        a.psm-link(href='#' alt='Blog') Blog
                    li
                        a.psm-link(href='#' alt='Suscríbete') Suscríbete

            .col-sm-3
                .psm-footer__logo.text-center
                    img.img-responsive.psm-footer__img(src= basedir +'2018/05/psm-plaza-san-miguel-footer.png' alt='Plaza San Miguel')
                
                .psm-footer__redes.text-center
                    ul.list-inline 
                        li
                            a.btn.psm-btn
                                i.fa.fa-facebook
                        li
                            a.btn.psm-btn
                                i.fa.fa-instagram       