header.bs-docs-nav.navbar.navbar-fixed-top.psm-header
    .container
        .navbar-header
            button.collapsed.navbar-toggle.psm-header__toggle(aria-controls='bs-navbar' aria-expanded='false' data-target='#bs-navbar' data-toggle='collapse' type='button')
                i.fa.fa-bars
                span.sr-only Toggle navigation

            .navbar-brand.psm-navbar
                a.psm-navbar__logo 
                    img.psm-navbar__img(src= basedir + '2018/05/psm-plaza-san-miguel.png' alt='Plaza San Miguel')

        .collapse.navbar-collapse#bs-navbar(aria-expanded='false')
            ul.nav.navbar-nav.navbar-right.psm-nav
                li
                    if section == 2
                        a.psm-link.psm-link--active(href='#' title='Marcas') Marcas
                    else
                        a.psm-link(href='#' title='Marcas') Marcas
                li
                    if section == 3
                        a.psm-link.psm-link--active(href='#' class=state title='Eventos') Eventos
                    else
                        a.psm-link(href='#' class=state title='Eventos') Eventos
                li
                    if section == 4
                        a.psm-link.psm-link--active(href='#' class=state title='Promociones') Promociones
                    else
                        a.psm-link(href='#' class=state title='Promociones') Promociones
                li
                    if section == 5
                        a.psm-link.psm-link--active(href='#' class=state title='Blog') Blog
                    else
                        a.psm-link(href='#' class=state title='Blog') Blog
                li
                    button.btn.psm-btn.psm-nav__search(type='button' data-toggle='modal' data-target='#psm-search' title='Abrir Modal Buscar')
                        i.fa.fa-search



