.psm-terms {
    &__list {
        li {
            margin-bottom: 10px;
        }
    }

    @media (min-width: $sm-viewport) {
        &__list {
            li {
                font-size: 16px;
            }
        }
    }

    @media (min-width: $md-viewport) {
        &__list {
            li {
                font-size: 18px;
                margin-bottom: 15px;
            }
        }
    }

    @media (min-width: $lg-viewport) {
        &__list {
            li {
                font-size: 20px;
            }
        }
    }
}