.psm-offer {

    &__main {
        border-top: 4px solid #f2f2f2;
        padding-top: 30px;
    }

    &__list {
        margin-bottom: 15px;

        .col-sm-6 {
            margin-bottom: 15px;
        }
    }

    &__item {
        display: block;
        border: 1px solid $purple;
        padding: 15px;
        position: relative;

        &__head {
            border-bottom: 1px solid $purple;
            margin-bottom: 15px;
            padding-bottom: 15px;

            .psm-offer__text {
                color: $purple;
            }
        }

        &:hover {
            .psm-offer__caption {
                opacity: 1;
            }
        }
    }

    &__title,
    &__subtitle {
        color: $purple;
        margin-bottom: 0;
        margin-top: 0;
    }

    &__title {
        font-family: $font-arboria-bold;
        font-size: 40px;

        i {
            font-style: normal;
            font-size: 20px;
        }
    }

    &__subtitle {
        font-size: 20px;
    }

    &__text {
        margin-bottom: 0;
    }

    &__img {
        height: 144px;

        img {
            display: inline-block;
            height: 100%;
        }
    }

    &__caption {
        height: 100%;
        left: 0;
        opacity: 0;
        padding: 15px;
        position: absolute;
        top: 0;
        transition: opacity .25s ease-in-out;
        width: 100%;
        z-index: 1;

        &::before {
            background-color: rgba($color: $purple, $alpha: .95);
            content: '';
            left: 0;
            height: 100%;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: -1;
        }

        .psm-offer__item__head {
            border-bottom-color: $white;
        }

        .psm-offer__title,
        .psm-offer__subtitle,
        .psm-offer__text {
            color: $white;
        }

        .psm-offer__text {
            font-size: 12px;
        }
    }

    @media (min-width: $sm-viewport) {
        &__list {
            margin-bottom: 30px;
        }

        &__item {
            padding: 30px;
        }

        &__title {
            font-size: 50px;

            i {
                font-size: 30px;
            }
        }

        &__subtitle {
            font-size: 22px;
            min-height: 52px;
        }

        &__main {
            padding-top: 30px;
        }

        &__caption {
            padding: 30px;
        }
    }

    @media (min-width: $md-viewport) {
        &__title {
            font-size: 60px;

            i {
                font-size: 40px;
            }
        }

        &__subtitle {
            font-size: 24px;
        }
    }

    @media (min-width: $lg-viewport) {
        &__subtitle {
            min-height: auto;
        }
    }
}