.psm-blog {
    &--detail {
        padding-top: 0;
    }

    .col-sm-6 {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__title {
        margin: 0;
    }

    &__description {
        margin-top: 15px;
    }

    &__list {
        li {
            list-style: decimal;
        }
    }

    @media (min-width: $sm-viewport) {
        &--detail {
            padding-bottom: 0;
            padding-top: 0;
        }

        .col-sm-6 {
            margin-bottom: 0;
        }

        &__head {
            margin-top: 30px;
        }

        &__description {
            margin-top: 30px;
        }
    }

    @media (min-width: $md-viewport) {
         &__head {
             margin-top: 60px;
         }

        &__description {
            margin-top: 45px;
        }
    }
}