.psm-brand {
    padding-bottom: 15px;

    &__main {
        border-top: 4px solid #f2f2f2;
        padding-top: 30px;
    }

    .col-xs-6 {
        margin-bottom: 15px;
    }

    &__item {
        color: $gray;
        text-align: center;

        &:hover {
            .psm-brand__img {

                i,
                &::before {
                    opacity: 1;
                }        
            }  
        }
    }

    &__img {
        border: 1px solid #E1E1E1;
        position: relative;

        i,
        &::before {
            opacity: 0;
            position: absolute;
            transition: opacity .2s ease-in-out;
        }

        &::before {
            background-color: rgba(28, 58, 156, .75);
            content: '';
            height: 100%;
            left: 0;
            top: 0;
            width: 100%;
            z-index: 1;
        }

        i {
            color: $white;
            font-size: 40px;
            left: 50%;
            margin-left: -15px;
            margin-top: -20px;
            top: 50%;
            z-index: 2;
        }
    }

    &__logo {
        margin-top: 15px;
        height: 66px;

        img {
            height: 100%;
        }
    }

    &__contact {
        margin-top: 15px;

        &__title {
            color: $gray;
        }

        &__text {
            color: $blue;
            font-family: $font-arboria-medium;
            margin-bottom: 0;
            margin-top: 0;
        }
    }

    &__description {
        border-top: 1px solid #d5d5d5;
        font-size: 12px;
        margin-top: 15px;
        padding-top: 15px;

        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    @media (min-width: $sm-viewport) {
        padding-top: 45px;

        &__main {
            padding-top: 30px;
        }

        .col-xs-6 {
            margin-bottom: 30px;
        }

        &__details {
            padding-bottom: 0;
            padding-top: 0;
        }

        &__logo {
            margin-top: 30px;
        }

        &__contact {
            margin-top: 30px;
        }
    }

    @media (min-width: $md-viewport) {
        padding-top: 60px;

        .col-xs-6 {
            margin-bottom: 45px;
        }

        &__logo {
            height: 116px;
        }
    }

    @media (min-width: $lg-viewport) {
        &__logo {
            height: 166px;
        }
    }
}