.psm-subscribe {

    h3 {
        color: #515151;
        font-family: $font-arboria;
        font-size: 16px;
    }

    &__form {
        margin-top: 15px;

        .psm-btns {
            margin-top: 15px;
        }
    }

    &__intereses {
        margin-top: 15px;
        overflow: hidden;

        .col-sm-6 {
            margin-bottom: 15px;
        }
    }

    &__interes {
        display: block;
        height: 100px;
        margin-bottom: 0;
        overflow: hidden;
        position: relative;
        width: 100%;

        .checkbox {
            margin-bottom: 0;
            margin-top: 0;
            position: absolute;
            right: 15px;
            top: 15px;

            .psm-label {
                padding-left: 20px;

                span {
                    &::before {
                        top: 0;
                    }

                    &::after {
                        top: 2px;
                    }
                }
            }
        }
    }

    &__img {
        img {
            width: 100%;
        }
    }

    &__caption {
        color: $white;
        cursor: pointer;
        height: 100%;
        left: 0;
        padding: 15px;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    &__title {
        font-family: $font-arboria-medium;
    }

    &__text {
        font-family: $font-arboria-light;
        font-size: 10px;
        margin-bottom: 0;
    }

    @media (min-width: $sm-viewport) {
        h3 {
            font-size: 20px;
        }

        &__interes {
            height: 150px;
        }

        &__form {
            margin-top: 30px;
            
            .form-group {
                margin-bottom: 30px;
            }

            .psm-btns {
                margin-top: 30px;
            }
        }
        
        &__caption {
            padding: 30px;
        }

        &__text {
            font-size: 12px;
        }
    }

    @media (min-width: $md-viewport) {
        h3 {
            font-size: 24px;
        }

        &__intereses {
            .col-sm-6 {
                margin-bottom: 0;
            }
        }

        &__interes {
            height: auto;
        }

        &__form {
            margin-top: 45px;

            .form-group {
                margin-bottom: 45px;
            }

            .psm-btns {
                margin-top: 45px;
            }
        }

        &__text {
            font-size: 14px;
        }
    }
}