.psm-subscribe {
    .psm-btns {
        margin-top: 0;
    }

    .psm-section__text {
        text-align: center;
        margin-bottom: 15px;
    }

    @media (min-width: $sm-viewport) {
        .psm-section__text {
            text-align: right;
            margin-bottom: 0;
        }
    }
}

.psm-category {

    .psm-tabs__nav {
        &.nav-justified {
            .psm-category__link--tendencias {
                &:hover {
                    border-bottom-color: $purple;
                    color: $purple;
                }
            }

            .psm-category__link--entretenimiento {
                &:hover {
                    border-bottom-color: $green;
                    color: $green;
                }
            }

            .psm-category__link--gastronomia {
                &:hover {
                    border-bottom-color: $orange;
                    color: $orange;
                }
            }

            .psm-category__link--novedades {
                &:hover {
                    border-bottom-color: $blue;
                    color: $blue;
                }
            }

            .active {
                .psm-category__link--tendencias {
                    border-bottom-color: $purple;
                    color: $purple;
                }

                .psm-category__link--entretenimiento {
                    border-bottom-color: $green;
                    color: $green;
                }

                .psm-category__link--gastronomia {
                    border-bottom-color: $orange;
                    color: $orange;
                }

                .psm-category__link--novedades {
                    border-bottom-color: $blue;
                    color: $blue;
                }
            }
        }
    }

    .col-sm-6 {
        margin-bottom: 15px;
    }

    &__item {
        border: 0;
        border-radius: 0;
        color: $white;
        overflow: hidden;
        opacity: 1;
        padding: 0;
        position: relative;
        

        &:hover {
            color: $white;

            .psm-category__caption {
                &::before {
                    opacity: 1;
                }
            }
        }

        &--tendencias {
            .psm-category__caption {
                &::before {
                    border-top-color: $purple;
                }
            }
        }

        &--entretenimiento {
            .psm-category__caption {
                &::before {
                    border-top-color: $green;
                }
            }
        }

        &--gastronomia {
            .psm-category__caption {
                &::before {
                    border-top-color: $orange;
                }
            }
        }

        &--novedades {
            .psm-category__caption {
                &::before {
                    border-top-color: $blue;
                }
            }
        }
    }

    &__img,
    &__caption {
        position: absolute;
        left: 0;
    }

    &__img {
        top: 0;
        width: 100%;

        img {
            width: 100%;
        }
    }

    &__caption {
        bottom: 0;
        padding: 15px 15px 15px 30px;
        text-align: left;
        white-space: normal;
        width: 100%;
        z-index: 3;

        &::before {
            border-top: 20px solid $gray;
            border-left: 14px solid transparent;
            border-right: 36px solid transparent;
            content: '';
            height: 0px;
            left: -15px;
            opacity: .5;
            position: absolute;
            top: 15px;
            transform: rotate(-90deg);
            transition: opacity .2s ease;
            width: 0px;
            z-index: -1;
        }
    }

    &__title {
        font-family: $font-arboria;
        font-size: 14px;
        font-weight: normal;
        margin-top: 0;
        text-shadow: 0px 2px 9px rgba(0, 0, 0, 0.45);
    }

    &__text {
        font-size: 20px;
        font-weight: normal;
        line-height: 18px;
        margin-bottom: 0;
        text-shadow: 0px 2px 9px rgba(0, 0, 0, 0.45);
    }

    @media (min-width: $sm-viewport) {
        .col-sm-6 {
            margin-bottom: 30px;
        }

        &__caption {
            &::before {
                top: 30px;
            }
        }
    }

    @media (min-width: $md-viewport) {
        &__img {
            bottom: 0;
            top: inherit;
        }

        &__caption {
            bottom: 0;
            padding-bottom: 30px;
            padding-left: 45px;
            padding-top: 30px;
        }

        &__title {
            font-size: 16px;
        }

        &__text {
            font-size: 22px;
            line-height: 20px;
        }

        &__caption {
            &::before {
                border-top-width: 30px;
                border-left: 18px solid transparent;
                border-right: 52px solid transparent;
                left: -20px;
            }
        }

        .col-md-3 {
            .psm-category__img {
                bottom: 3px;
            }

            .psm-category__caption {
                padding-left: 30px;

                &::before {
                    border-top-width: 20px;
                    border-left: 14px solid transparent;
                    border-right: 36px solid transparent;
                    left: -15px;
                }
            }
        }
    }
}

.psm-brands {

    .col-sm-6 {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__item {
        border: none;
        border-radius: 0;
        color: $white;
        overflow: hidden;
        padding: 0;
        position: relative;

        &:hover {
            color: $white;

            .psm-brands__img--opacity {
                opacity: 1;
            }

            .psm-brands__caption {
                padding-top: 15px;
            }
        }

        &:focus {
            color: $white;
        }
    }

    &__img {
        transition: opacity .5s ease;

        &--opacity {
            bottom: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            z-index: 1;
        }
    }

    &__caption {
        bottom: 0;
        background-color: rgba(0, 130, 133, .6);
        position: absolute;
        left: 0;
        padding: 70% 15px 15px;
        text-align: left;
        white-space: normal;
        z-index: 3;
        transition: padding-top .5s ease;

        &::before {
            background-color: rgba(2, 84, 86, .5);
            background-blend-mode: multiply;
            bottom: -130px;
            content: '';
            height: 298px;
            left: -115px;
            position: absolute;
            transform: rotate(65deg);
            width: 212px;
            z-index: -1;
        }
    }

    &__title {
        margin-top: 0;
        font-family: $font-arboria-bold;
    }

    &__text {
        margin-bottom: 0;
        font-family: $font-arboria;
    }

    @media (min-width: $sm-viewport) {

        .col-sm-6 {
            margin-bottom: 0;
        }

        &__text {
            font-size: 20px;
        }

        &__caption {
            padding: 70% 30px 30px;

            &::before {
                bottom: -220px;
                height: 398px;
                left: -180px;
                transform: rotate(65deg);
                width: 312px;
            }
        }
    }

    @media (min-width: $md-viewport) {
        &__title {
            font-size: 40px;
        }

        &__text {
            font-size: 22px;
        }

        &__caption {
            padding: 70% 30px 30px;

            &::before {
                bottom: -402px;
                height: 598px;
                left: -220px;
                transform: rotate(60deg);
                width: 512px;
            }
        }
    }
}