.psm-event {

    &__main {
        border-top: 4px solid #f2f2f2;
        padding-top: 30px;
    }

    &__list {

        .col-sm-4 {
            margin-bottom: 15px;
        }
    }

    &__item {
        background-color: #ececec;
        border: 0;
        border-radius: 0;
        color: $blue;
        display: block;
        font-family: $font-arboria;
        overflow: hidden;
        padding: 0;
        position: relative;
        text-align: left;
        white-space: normal;

        &:hover {
            color: $blue;
            
            .psm-event__img {

                i,
                &::before {
                    opacity: 1;
                }        
            }  
        }
    }

    &__title,
    &__subtitle {
        font-family: $font-arboria-medium;
        margin-bottom: 0;
        margin-top: 0;
    }

    &__title {
        font-size: 14px;
    }

    &__subtitle {
        font-size: 11px;
    }

    &__text {
        margin-bottom: 0;
    }

    &__img {
        position: relative;

        img {
            display: inline-block;
        }

        i,
        &::before {
            opacity: 0;
            position: absolute;
            transition: opacity .2s ease-in-out;
        }

        &::before {
            background-color: rgba(28, 58, 156, .75);
            content: '';
            height: 100%;
            left: 0;
            top: 0;
            width: 100%;
            z-index: 2;
        }

        i {
            color: $white;
            font-size: 40px;
            left: 50%;
            margin-left: -15px;
            margin-top: -20px;
            top: 50%;
            z-index: 3;
        }
    }

    &__date {
        color: $white;
        left: 0;
        padding: 15px;
        position: absolute;
        top: 0;
        z-index: 1;

        &::before {
            background-color: $purple;
            content: '';
            height: 100px;
            left: -35px;
            position: absolute;
            top: -20px;
            width: 100px;
            transform: rotate(-32deg);
            z-index: -1;
        }

        b,
        span {
            display: block;
            font-family: $font-arboria-medium;
            font-weight: normal;
        }

        b {
            font-size: 30px;
            line-height: 30px;
            
        }

        span {
            font-size: 15px;
            line-height: 15px;
        }
    }

    &__info {
        padding: 15px;

        &-place {
            border-top: 1px solid $blue;
            margin-top: 5px;
            padding-top: 5px;

            p {
                font-size: 11px;
                margin-bottom: 0;

                &:last-child {
                    font-size: 10px;
                }
            }
        }
    }

    &__detail {
        &-img {
            img {
                width: 100%;
            }
        }

        .psm-section__title {
            text-align: left;
        }

        .psm-event__detail {
            border-bottom: 1px solid $gray;
            margin-bottom: 15px;
            padding-bottom: 15px;
        }

        &-info {
            p {
                margin-bottom: 0;

                b {
                    color: $blue;
                    font-family: $font-arboria-medium;
                }
            }
        }

        &-date {
            background-color: $purple;
            color: $white;
            text-align: center;
            font-size: 15px;
            line-height: 15px;
            margin: 10px 0;
            padding: 10px;

            b {
                font-size: 25px;
                line-height: 25px;
            }
        }
    }

    @media (min-width: $sm-viewport) {
        &__list {

            .col-sm-4 {
                margin-bottom: 30px;
            }
        }

        &__title {
            font-size: 16px;
            min-height: 34px;
        }

        &__subtitle {
            font-size: 13px;
        }

        &__main {
            padding-top: 30px;
        }

        &__info {
            &-place {
                p {
                    font-size: 13px;
    
                    &:last-child {
                        font-size: 12px;
                    }
                }
            }
        }

        &__img {
            i {
                font-size: 50px;
                margin-left: -20px;
                margin-top: -30px;
            }
        }

        &__date {
    
            &::before {
                height: 150px;
                left: -65px;
                top: -55px;
                width: 150px;
            }

            b {
                font-size: 40px;
                line-height: 30px;
                margin-bottom: 5px;
            }

            span {
                font-size: 20px;
                line-height: 20px;
            }
        }

        &__detail {
            &-info {
                p {
                    font-size: 14px;

                    b {
                        font-size: 20px;
                    }
                }
            }

            &-date {
                font-size: 20px;
                line-height: 25px;
                
                b {
                    font-size: 30px;
                    line-height: 30px;
                }
            }
        }
    }

    @media (min-width: $md-viewport) {
        &__title {
            font-size: 18px;
            min-height: 38px;
        }

        &__subtitle {
            font-size: 15px;
        }

        &__info {
            &-place {
                p {
                    font-size: 15px;
    
                    &:last-child {
                        font-size: 14px;
                    }
                }
            }
        }

        &__detail {
            &-info {
                p {
                    font-size: 15px;

                    b {
                        font-size: 22px;
                    }
                }
            }

            &-date {
                margin: 0;
            }
        }
    }

    @media (min-width: $lg-viewport) {
        &__subtitle {
            min-height: auto;
        }

        &__detail {
            &-info {
                p {
                    font-size: 16px;

                    b {
                        font-size: 24px;
                    }
                }
            }
        }
    }
}