@font-face {
    font-family: 'Awesome-Regular';
    src: url('../fonts/fa-regular-400.eot');
    src: url('../fonts/fa-regular-400.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fa-regular-400.woff2') format('woff2'),
        url('../fonts/fa-regular-400.woff') format('woff'),
        url('../fonts/fa-regular-400.ttf') format('truetype'),
        url('../fonts/fa-regular-400.svg#fontawesome') format('svg');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Arboria-Book';
    src: url('../fonts/Arboria-Book.eot');
    src: url('../fonts/Arboria-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Arboria-Book.woff2') format('woff2'),
        url('../fonts/Arboria-Book.woff') format('woff'),
        url('../fonts/Arboria-Book.ttf') format('truetype'),
        url('../fonts/Arboria-Book.svg#Arboria-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arboria-Light';
    src: url('../fonts/Arboria-Light.eot');
    src: url('../fonts/Arboria-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Arboria-Light.woff2') format('woff2'),
        url('../fonts/Arboria-Light.woff') format('woff'),
        url('../fonts/Arboria-Light.ttf') format('truetype'),
        url('../fonts/Arboria-Light.svg#Arboria-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Arboria-Medium';
    src: url('../fonts/Arboria-Medium.eot');
    src: url('../fonts/Arboria-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Arboria-Medium.woff2') format('woff2'),
        url('../fonts/Arboria-Medium.woff') format('woff'),
        url('../fonts/Arboria-Medium.ttf') format('truetype'),
        url('../fonts/Arboria-Medium.svg#Arboria-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Arboria-Bold';
    src: url('../fonts/Arboria-Bold.eot');
    src: url('../fonts/Arboria-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Arboria-Bold.woff2') format('woff2'),
        url('../fonts/Arboria-Bold.woff') format('woff'),
        url('../fonts/Arboria-Bold.ttf') format('truetype'),
        url('../fonts/Arboria-Bold.svg#Arboria-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}