.psm-group {
    &__select {
        .psm-select {
            box-shadow: none;

            .btn {
                background-color: transparent;
                border-radius: 0;
                border-left: 0;
                border-right: 0;
                border-top: 0;
                box-shadow: none;

                &:hover {
                    background-color: transparent;
                    box-shadow: none;
                }

                &:focus {
                    background-color: transparent;
                    outline: none !important;
                }
            }

            .dropdown-menu {
                a {
                    &:focus {
                        outline: none !important;
                    }   
                }
            }

            @media (min-width: $sm-viewport) {
                height: 40px;

                .btn {
                    font-size: 16px;
                }
            }
        
            @media (min-width: $lg-viewport) {
                height: 41px;

                .btn {
                    font-size: 20px;
                }
            }
        }
    }
}

.form-control:focus {
    border-color: $green;
    box-shadow: inset 0 1px 1px rgba($black, 0.075), 0 0 8px rgba($green, 0.5)
}

.psm-input {
    border-radius: 0;
    border-color: $white;
    border-bottom-color: $border-input; 
    box-shadow: none;
    color: $gray;
    font-family: $font-arboria-light;
    font-size: 20px;
    height: 30px;

    &--toggle {
        border-color: $border-input;    
        border-radius: 22px;
        width: 100% !important;

        &.btn-default,
        &.off {
            .toggle-on,
            .toggle-off {
                box-shadow: none;
            }

            .btn-xs {
                background-color: $white;
                box-shadow: none;
                border-color: $border-input;
                border-radius: 10px;
                padding: 0 20px;

                &:hover {
                    background-color: $white;
                }
            }
        }

        &.btn-default {
            .toggle-on {
                background-color: $green;
                color: $white;
            }
        }

        &.off {
            .toggle-off {
                background-color: $white;
                color: $gray;
            }
        }

        @media (min-width: $sm-viewport) {
            margin-top: 2px;
        }

        @media (min-width: $md-viewport) {
            margin-top: 6px;
        }

        @media (min-width: $lg-viewport) {
            margin-top: 8px;
        }
    }
    
    &--checkbox {
        .psm-label {
            padding-left: 30px;
            position: relative;

            span {

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                }

                &::before {
                    background-color: $white;
                    border-color: $border-input;
                    border-style: solid;
                    border-width: 1px;
                    height: 18px;
                    left: 0;
                    top: 2px;
                    width: 18px;
                }

                &::after {
                    border: solid ;
                    border-color:$white;
                    border-width: 0 2px 2px 0;
                    height: 10px;
                    left: 6px;
                    opacity: 0;
                    top: 4px;
                    transform: rotate(45deg);
                    width: 5px;
                }
            }
        }

        .psm-input {
            cursor: pointer;
            height: auto;
            opacity: 0;
            position: absolute;

            &:checked ~ span:before {
                background-color: $green;
            }

            &:checked ~ span:after {
                opacity: 1;
            }
        }

        &.has-error {
            .psm-label {
                span {
                    &::before {
                        border-color: $red;
                    }
                }
            }
        }
    }

    @media (min-width: $md-viewport) {
        font-size: 25px;
        height: 40px;

        &--checkbox {
            .psm-label {
                span {
                    &::before {
                        top: 6px;
                    }
    
                    &::after {
                        top: 8px;
                    }
                }
            }
        }
    }

    @media (min-width: $lg-viewport) {
        height: 50px;
        
        &--checkbox {
            .psm-label {
                span {
                    &::before {
                        top: 8px;
                    }
    
                    &::after {
                        top: 10px;
                    }
                }
            }
        }
    }
}

.psm-label {
    color: $gray;
    font-weight: normal;

    &--blue {
        color: $blue;
    }

    &__text {
        color: $gray;
        display: block;
        font-family: $font-arboria-light;
        font-size: 10px;
        font-style: normal;
        font-weight: normal;
    }

    @media (min-width: $sm-viewport) {
        font-size: 16px;

        &__text {
            font-size: 12px;
        }
    }
    @media (min-width: $md-viewport) {
        font-size: 20px;

        &__text {
            font-size: 14px;
        }
    }

    @media (min-width: $lg-viewport) {
        font-size: 24px;

        &__text {
            font-size: 16px;
        }
    }
}