.psm-msn {
    
    &__title {
        font-size: 100px;
        font-family: $font-arboria-bold;
    }

    &--500 {
        .psm-msn__title {
            color: $red;
        }
    }

    &--404 {
        .psm-msn__title {
            color: $orange;
        }
    }

    @media (min-width: $sm-viewport) {
        &__title {
            font-size: 150px;
        }
    }

    @media (min-width: $md-viewport) {
        &__title {
            font-size: 200px;
        }
    }

    @media (min-width: $lg-viewport) {
        &__title {
            font-size: 250px;
        }
    }
}