.psm-tabs {

    &__nav {
        &.nav-justified {
            .psm-tabs__link {
                border: 0;
                border-bottom: 3px solid $gray;
                border-radius: 0;
                color: $gray;
                font-size: 20px;
                transition: color, border .2s ease;

                &:focus,
                &:hover {
                    background-color: transparent;
                }
            }

            .active {
                .psm-tabs__link {
                    border: 0;
                    border-bottom: 3px solid $black;
                    color: $black;
                    font-family: $font-arboria-medium;
                    padding-bottom: 9px;

                    &:focus,
                    &:hover {
                        border: 0;
                        border-bottom: 3px solid $black;
                    }
                }
            }
        }
    }

    &__link {
        border-bottom-color: $black;
    }

    &__content {
        padding-top: 30px;
    }
}