.modal-backdrop {
    background-color: $blue;
}

.psm-modal {
    &.modal {
        &.in {
            padding-right: 0 !important;
        }

        .modal-dialog {
            margin-top: 60px;
        }

        .modal-content {
            background-color: $white;
            border: 0;
            border-radius: 0;
            box-shadow: none;
        }

        .modal-head,
        .modal-body {
            padding: 15px;
        }

        .modal-head {
            background-color: #f2f2f2;
            padding: 15px;
            position: relative;
        }
    }

    &__title {
        color: $blue;
        font-family: $font-arboria-bold;
        font-size: 20px;
        margin: 0;
    }

    &__text {
        font-size: 16px;
    }

    &__icon {
        color: $green;

        i {
            font-size: 50px;
        }

        &--error {
            color: $red;
        }
    }

    .psm-btn {
        &--close {
            border: 0;
            border-radius: 0;
            color: $blue;
            padding: 0;
            position: absolute;
            right: 15px;
            top: 15px;

            i {
                font-size: 20px;
            }

            &:hover {
                color: $banner-blue-2;
            }
        }
    }

    @media (min-width: $sm-viewport) {
        &.modal {

            .modal-dialog {
                margin-top: 120px;
            }

            .modal-head,
            .modal-body {
                padding: 30px;
            }
        }

        &__title {
            font-size: 30px;
        }

        &__text {
            font-size: 20px;
        }

        &__icon {
            i {
                font-size: 80px;
            }
        }

        .psm-btn {
            &--close {
                top: 25px;

                i {
                    font-size: 30px;
                }
            }
        }
    }

    @media (min-width: $md-viewport) {
        &.modal {

            .modal-dialog {
                margin-top: 180px;
                width: 970px;
            }

            .modal-head,
            .modal-body {
                padding-left: 45px;
                padding-right: 45px;
            }
        }

        &__title {
            font-size: 40px;
        }

        &__text {
            font-size: 24px;
        }

        &__icon {
            i {
                font-size: 120px;
            }
        }

        .psm-btn {
            &--close {
                top: 30px;

                i {
                    font-size: 40px;
                }
            }
        }
    }
}