.psm-search {
    &.modal {

        &.in {
            padding-right: 0 !important;
        }

        .modal-dialog {
            margin: 0;
            width: 100%;
        }

        .modal-content {
            background-color: $blue;
            border: 0;
            border-radius: 0;
            box-shadow: none;
        }

        .modal-body {
            padding: 5px 0;
        }
    }

    .psm-input {
        box-shadow: none;
        height: 40px;
    }

    .psm-btn {
        &--search {
            background-color: $green;
            border: 0;
            border-right: 2px solid $white;
            border-left: 1px solid $green;
            color: $white;
            font-size: 14px;
            padding: 7px;

            .fa-search {
                border: 1px solid $white;
                border-radius: 100%;
                padding: 5px;
                transition: border-color .2s ease;
            }

            &:hover {
                background-color: $white;
                color: $green;

                .fa-search {
                    border-color: $green;
                }
            }
        }
    
        &--close {
            background-color: $blue;
            border: 0;
            border-radius: 0;
            color: $white;
            font-size: 18px;
            padding: 7px 13px;

            &:hover {
                background-color: $white;
                color: $blue;
            }
        }
    }

    @media (min-width: $md-viewport) {
        .psm-btn {
            &--search {
                font-size: 18px;
                padding: 10px 11px;
            }

            &--close {
                font-size: 21px;
                padding: 10px 17px;
            }
        }

        .psm-input {
            height: 50px;
        }
    }

    @media (min-width: $lg-viewport) {
        &.modal {
            .modal-body {
                padding: 10px 0;
            }
        }
    }
}