.psm-footer {
    padding-bottom: 30px;
    padding-top: 30px;

    &__title {
        color: $blue;
        font-size: 22px;
        font-family: $font-arboria-light;
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 15px;
        text-align: center;

        strong {
            font-family: $font-arboria;
            font-weight: normal;
        }
    }

    .col-sm-4 {
        text-align: center;
    }

    &__nav {
        display: inline-block;
        margin-bottom: 15px;
        
        li {
            display: block;
            color: $blue;
            font-size: 16px;
            
        }
    }

    &__img {
        display: inline-block;
    }

    &__redes {
        margin-top: 15px;

        ul {
            margin-bottom: 0;
        }

        .psm-btn {
            border-color: $blue;
            border-width: 1px;
            border-radius: 4px;
            color: $blue;
            font-size: 16px;
            height: 24px;
            padding: 0;
            width: 24px;
            transition: background-color, color, .2s ease;

            &:hover {
                background-color: $blue;
                color: $white;
            }
        }
    }

    @media (min-width: $sm-viewport) {
        .col-sm-5 {
            padding-right: 60px;
            overflow: hidden;

            &::after {
                background-color: $blue;
                content: '';
                height: 200%;
                position: absolute;
                right: 30px;
                top: 0;
                width: 1px;
            }
        }

        &__title {
            font-size: 22px;
            margin-bottom: 33px;
            margin-top: 33px;
            text-align: right;
        }

        &__nav {
            margin-bottom: 20px;
            margin-top: 20px;

            li {
                display: inline-block;
                font-size: 18px;
                padding-left: 10px;
                position: relative;
                text-align: left;
                width: 50%;

                &::before {
                    background-color: $blue;
                    border-radius: 100%;
                    content: '';
                    height: 6px;
                    left: 0;
                    position: absolute;
                    top: 10px;
                    width: 6px;
                }
            }
        }
    }

    @media (min-width: $md-viewport) {
        .col-sm-5 {
            padding-right: 90px;

            &::after {
                right: 45px;
            }
        }

        &__title,
        &__text {
            span {
                display: block;
            }
        }

        &__title {
            font-size: 26px;
            margin-bottom: 44px;
            margin-top: 44px;
        }

        &__nav {
            margin-bottom: 30px;
            margin-top: 30px;

            li {
                font-size: 20px;

                &::before {
                    top: 12px;
                }
            }
        }

        &__redes {

            .psm-btn {
                font-size: 20px;
                height: 32px;
                width: 32px;
            }
        }
    }

    @media (min-width: $lg-viewport) {
        .col-sm-5 {
            padding-right: 120px;

            &::after {
                right: 60px;
            }
        }

        &__title {
            font-size: 30px;
            margin-bottom: 50px;
            margin-top: 50px;
        }

        &__nav {
            margin-bottom: 32px;
            margin-top: 32px;

            li {
                font-size: 24px;

                &::before {
                    top: 15px;
                }
            }
        }

        &__redes {
            margin-top: 30px;

            .psm-btn {
                font-size: 24px;
                height: 38px;
                width: 38px;
            }
        }
    }
}