.psm-hero {
    padding-bottom: 0;
    padding-top: 0; 

    .container {
        height: inherit;
        position: relative;
        z-index: 4;
    }

    &__caption {
        bottom: 45px;
        left: 15px;
        padding: 15px;
        position: absolute;
        right: 15px;
        text-align: center;

        &--blue {
            color: $blue;
        }

        &--white {
            color: $white;
        }
    }
    
    &__item {
        height: 418px;
        background-color: $black;
        background-position: center 50%;
        background-size: cover;
        position: relative;

        &--blue {
            .psm-hero__caption {
                background-color: rgba($color: $banner-blue-1, $alpha: .75);
            }
        }

        &--green {
            .psm-hero__caption {
                background-color: rgba($color: $banner-green-1, $alpha: .75);
            }
        }

        &--orange {
            .psm-hero__caption {
                background-color: rgba($color: $banner-orange-1, $alpha: .75);
            }
        }

        &--purple {
            .psm-hero__caption {
                background-color: rgba($color: $banner-purple-1, $alpha: .75);
            }
        }

        &--gray {
            .psm-hero__caption {
                background-color: rgba($color: $banner-gray-1, $alpha: .75);
            }
        }

        &--white {
            .psm-hero__caption {
                background-color: rgba($color: $banner-white-1, $alpha: .75);
            }
        }
    }

    &__title {
        font-size: 30px;
        font-family: $font-arboria-bold;
        line-height: 30px;
        margin-bottom: 0;
        margin-top: 0;
        position: relative;
    }

    &__text {
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 0;
        position: relative;
    }

    .ps-btns {
        margin-top: 60px;
        position: relative;
    }

    .owl-buttons {
        display: none;
    }

    @media (min-width: $sm-viewport) {
        .container {
            display: table;
        }

        &__caption {
            bottom: inherit;
            display: table-cell;
            left: inherit;
            padding: 0;
            position: inherit;
            right: inherit;
    
            &.vertical-center {
                background-color: transparent;
                vertical-align: middle;
            }
        }

        &__item {
            height: 518px;
            overflow: hidden;

            &--blue {
                .psm-hero__mask {
                    background-color: $banner-blue-1;
                }

                .psm-hero__mask-1 {
                    background-color: $banner-blue-2;
                }

                .psm-hero__mask-2 {
                    border-top-color: $banner-blue-2;
                }
            }

            &--green {
                .psm-hero__mask {
                    background-color: $banner-green-1;
                }

                .psm-hero__mask-1 {
                    background-color: $banner-green-2;
                }

                .psm-hero__mask-2 {
                    border-top-color: $banner-green-2;
                }
            }

            &--orange {
                .psm-hero__mask {
                    background-color: $banner-orange-1;
                }

                .psm-hero__mask-1 {
                    background-color: $banner-orange-2;
                }

                .psm-hero__mask-2 {
                    border-top-color: $banner-orange-2;
                }
            }

            &--purple {
                .psm-hero__mask {
                    background-color: $banner-purple-1;
                }

                .psm-hero__mask-1 {
                    background-color: $banner-purple-2;
                }

                .psm-hero__mask-2 {
                    border-top-color: $banner-purple-2;
                }
            }

            &--gray {
                .psm-hero__mask {
                    background-color: $banner-gray-1;
                }

                .psm-hero__mask-1 {
                    background-color: $banner-gray-2;
                }

                .psm-hero__mask-2 {
                    border-top-color: $banner-gray-2;
                }
            }

            &--white {
                .psm-hero__mask {
                    background-color: $banner-white-1;
                }

                .psm-hero__mask-1 {
                    background-color: $banner-white-2;
                }

                .psm-hero__mask-2 {
                    border-top-color: $banner-white-3;
                }
            }

            &--left {
                .psm-hero__mask {
                    left: -50%;
                    transform: rotate(-60deg);
                }

                .psm-hero__mask-1 {
                    left: -60%;
                    transform: rotate(-60deg);
                }

                .psm-hero__mask-2 {
                    left: 0;
                    border-width: 271px 115px 0 0;
                }

                .psm-hero__caption {
                    text-align: left;
                }
            }

            &--right {
                .psm-hero__mask {
                    right: -50%;
                    transform: rotate(60deg);
                }

                .psm-hero__mask-1 {
                    right: -60%;
                    transform: rotate(60deg);
                }

                .psm-hero__mask-2 {
                    right: 0;
                    border-width: 271px 0 0 115px;
                }

                .psm-hero__caption {
                    text-align: right;
                }
            }

            &--interna {
                .psm-hero__mask {
                    right: -50%;
                    top: -28%;
                }

                .psm-hero__mask-1 {
                    top: 43%;
                }

                .psm-hero__title {
                    font-family: $font-arboria-medium;
                }

                .psm-hero__text {
                    font-size: 20px;
                    margin-bottom: 30px;
                }
              
            }
        }

        &__title {
            font-size: 40px;
            line-height: 40px;
        }

        &__text {
            font-size: 20px;
            margin-top: 30px;
        }

        &__mask,
        &__mask-1 {
            height: 160%;
            position: absolute;
            
            width: 80%;
        }

        &__mask {
            opacity: .85;
            top: -38%;
            z-index: 1;
        }

        &__mask-1 {
            opacity: .5;
            top: 25%;
            z-index: 2;
        }

        &__mask-2 {
            border-style: solid;
            border-color: transparent;
            height: 0;
            opacity: .5;
            position: absolute;
            width: 0;
            z-index: 3;
        }
    }

    @media (min-width: $md-viewport) {
        &__item {
            height: 618px;

            &--left {
                .psm-hero__mask {
                    left: -45%;
                }

                .psm-hero__mask-1 {
                    left: -56%;
                }

                .psm-hero__mask-2 {
                    border-width: 321px 165px 0 0;
                }
            }

            &--right {
                .psm-hero__mask {
                    right: -45%;
                }

                .psm-hero__mask-1 {
                    right: -56%;
                }

                .psm-hero__mask-2 {
                    border-width: 321px 0 0 165px;
                }
            }

            &--interna {
                height: 654px !important;

                .psm-hero__mask {
                    right: -38%;
                    top: -20%;
                }

                .psm-hero__mask-1 {
                    top: 36%;
                }

                .psm-hero__title {
                    font-size: 40px;
                    line-height: 40px;
                }
            }
        }

        &__title {
            font-size: 50px;
            line-height: 50px;
        }

        &__text {
            font-size: 22px;
        }

        &__mask {
            top: -35%;
        }

        &__mask-1 {
            top: 33%;
        }

        
    }

    @media (min-width: $lg-viewport) {
        &__item {
            height: 718px;

            &--left {
                .psm-hero__mask {
                    left: -44%;
                }

                .psm-hero__mask-1 {
                    left: -50%;
                }

                .psm-hero__mask-2 {
                    border-width: 371px 215px 0 0;
                }
            }

            &--right {
                .psm-hero__mask {
                    right: -44%;
                }

                .psm-hero__mask-1 {
                    right: -50%;
                }

                .psm-hero__mask-2 {
                    border-width: 371px 0 0 215px;
                }
            }

            &--interna {
                .psm-hero__mask {
                    right: -40%;
                    top: -22%;
                }

                .psm-hero__mask-1 {
                    right: -55%;
                    top: 55%;
                }
            }
        }

        &__title {
            font-size: 60px;
            line-height: 60px;
        }

        &__text {
            font-size: 24px;
            margin-top: 45px;
        }

        &__mask {
            top: -20%;
        }

        &__mask-1 {
            top: 46%;
        }

        .owl-buttons {
            display: block;
        }
    }

    @media (min-width: 1440px) {

        &__item {
            &--left {
                .psm-hero__mask {
                    left: -44%;
                }

                .psm-hero__mask-1 {
                    left: -50%;
                }
            }

            &--right {
                .psm-hero__mask {
                    right: -44%;
                }

                .psm-hero__mask-1 {
                    right: -50%;
                }
            }

            &--interna {
                .psm-hero__mask {
                    right: -40%;
                    top: 0;
                }

                .psm-hero__mask-1 {
                    right: -55%;
                    top: 56%;
                }
            }
        }
    }

    @media (min-width: 1880px) {
        &__item {
            &--left {
                .psm-hero__mask {
                    left: -36%;
                }

                .psm-hero__mask-1 {
                    left: -44%;
                }
            }

            &--right {
                .psm-hero__mask {
                    right: -36%;
                }

                .psm-hero__mask-1 {
                    right: -44%;
                }
            }

            &--interna {
                .psm-hero__mask {
                    right: -32%;
                    top: 20%;
                }

                .psm-hero__mask-1 {
                    top: 80%;
                }
            }
        }

        &__mask {
            top: 5%;
        }

        &__mask-1 {
            top: 67%;
        }
    }
}