.psm-nav {
    
    li:last-child {
        text-align: center;
    }

    .psm-link {
        font-size: 16px;
        padding: 15px 25px;

        &:hover {
            background-color: transparent;
            text-decoration: underline;
        }
    }

    .psm-btn {
        border: none;
        color: $blue;
        font-size: 16px;
        line-height: inherit;
        padding: 6px 0;

        .fa-search {
            border: 1px solid $blue;
            border-radius: 100%;
            padding: 10px;
            transition: background-color, color, .2s ease;
        }

        &:hover {
            background-color: transparent;
            color: $blue;

            .fa-search {
                background-color: $blue;
                color: $white;
            }
        }
    }

    @media (min-width: $md-viewport) {
        .psm-link {
            font-size: 18px;
            padding: 20px 30px;
        }

        .psm-btn {
            font-size: 18px;
            padding: 10px 0;
        }
    }

    @media (min-width: $lg-viewport) {
        .psm-link {
            font-size: 22px;
            padding: 25px 35px;
        }

        .psm-btn {
            font-size: 20px;
            padding: 14px 0;
        }
    }
}