.psm-pagination {
    text-align: center;

    .pagination {
        margin-bottom: 0;
        margin-top: 0;
    }

    .psm-link {
        color: $blue;
        text-decoration: none;

        &.active {
            background-color: $green;
            color: $white;
        }
    }
}