.psm-btns {
    margin-top: 15px;

    @media (min-width: $sm-viewport) {
        margin-top: 30px;
    }
}

.psm-btn {
    background-color: transparent;
    border-radius: 15px;
    font-family: $font-arboria-bold;
    font-size: 16px;
    padding: 10px 15px;
    position: relative;
    transition: background-color, color, .2s ease;

    &:focus {
        background-color: transparent;
        outline: none !important;
    }

    &:active {
        box-shadow: none;
        outline: none;
    }

    &--white {
        background-color: $white;
        border-color: $white;
        color: $green;

        &:hover {
            background-color: $green;
            color: $white;
        }
    }

    &--purple {
        background-color: $purple;
        border-color: $purple;
        color: $white;

        &:hover {
            background-color: $white;
            color: $purple;
        }
    }

    &--orange {
        background-color: $orange;
        border-color: $orange;
        color: $white;

        &:hover {
            background-color: $white;
            color: $orange;
        }
    }

    &--load {
        color: $orange;

        &::after {
            content: ' ';
            display: inline-block;
            position: absolute;
            background: transparent;
            top: 50%;
            left: 50%;
            margin-top: -12px;
            margin-left: -12px;
            border: 1px solid $white;
            border-top-color: transparent;
            border-bottom-color: transparent;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            animation: loading 1s ease-in-out infinite;
        }
    }

    @media (min-width: $sm-viewport) {
        border-radius: 40px;
        border-width: 2px;
        font-size: 18px;
        padding: 10px 20px;
    }

    @media (min-width: $md-viewport) {
        font-size: 20px;
        padding: 10px 30px;
    }

    @media (min-width: $lg-viewport) {
        font-size: 22px;
    }
}

@keyframes loading {
    0%   {
        transform: rotate(0deg) scale(1);
    }

    50%  {
        transform: rotate(180deg) scale(1.1);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}
