.psm-header {
    background-color: $white;
    border-width: 0;
    color: $blue;
    box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.75);

    &__toggle {
        border-color: $blue;
        margin-bottom: 6px;
        margin-top: 6px;
        padding: 5px 10px;
        transition: background-color, color, .2s ease;

        .fa-bars {
            font-size: 24px;
        }

        &:hover {
            background-color: $blue;
            color: $white;
        }
    }

    .navbar-collapse {
        box-shadow: none;
    }
}