.psm-copyright {
    padding-top: 0;

    &__text {
        color: $blue;
        margin-bottom: 0;
    }

    @media (min-width: $md-viewport) {
        &__text {
            font-size: 16px;
        }   
    }
}