.psm-banner {
    padding-bottom: 0;
    padding-top: 0;

    &__item {
        background-size: cover;
        background-repeat: no-repeat;
        height: 245px;
        overflow: hidden;
        position: relative;

        &--default {
            background-color: $banner;
            height: 130px;

            .container {
                height: 130px !important;
            }

            .psm-banner__caption {
                bottom: 15px !important;
            }

            .psm-banner__nav ,
            .psm-banner__title,
            .psm-banner__text {
                color: $blue;
            }

            .psm-banner__nav {
                .psm-link {
                    color: $blue;
                }
            }
        }

        &--blue {
            .psm-banner__caption {
                background-color: rgba($color: $banner-blue-1, $alpha: .75);
            }
        }

        &--green {
            .psm-banner__caption {
                background-color: rgba($color: $banner-green-1, $alpha: .75);
            }
        }

        &--orange {
            .psm-banner__caption {
                background-color: rgba($color: $banner-orange-1, $alpha: .75);
            }
        }

        &--purple {
            .psm-banner__caption {
                background-color: rgba($color: $banner-purple-1, $alpha: .75);
            }
        }

        &--gray {
            .psm-banner__caption {
                background-color: rgba($color: $banner-gray-1, $alpha: .75);
            }
        }
    }

    .container {
        position: relative;
        height: 245px;
    }

    &__caption {
        bottom: 15px;
        left: 15px;
        padding: 5px;
        position: absolute;
        right: 15px;
        z-index: 3;
    }

    &__nav ,
    &__title,
    &__text {
        color: $white;
        margin-bottom: 0;
    }

    &__nav {
        font-family: $font-arboria-light;
        font-size: 15px;
        list-style: none;
        padding-left: 0;
        
        .psm-link {
            color: $white;
        }

        li {
            display: inline-block;
            margin-right: 10px;
            padding-right: 15px;
            position: relative;

            &::after {
                content: '/';
                position: absolute;
                right: 0;
            }

            &:last-child {
                margin-right: 0;
                padding-right: 0;

                &::after {
                    display: none;
                }
            }
        }
        
    }

    &__title {
        font-family: $font-arboria-bold;
        font-size: 20px;
        margin-top: 0;
    }

    &__text {
        font-size: 20px;
    }

    @media (min-width: $sm-viewport) {
        &__item {
            height: 245px;

            &::before,
            &::after {
                content: '';
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 60%;
            }

            &::before {
                opacity: .85;
                z-index: 1;
                background-color: transparent;
                border-right: 175px solid transparent;
                border-bottom: 245px solid transparent;
            }

            &::after {
                background-color: transparent;
                opacity: .5;
                transform: rotate(-32deg);
                z-index: 2;
            }

            &--default {
                height: 180px;
    
                .container {
                    height: 180px !important;
                }
            }

            &--blue {
                &::before {
                    border-bottom-color: $banner-blue-1;
                }

                &::after{
                    background-color: $banner-blue-2;
                }
            }

            &--green {
                &::before {
                    border-bottom-color: $banner-green-1;
                }

                &::after{
                    background-color: $banner-green-2;
                }
            }

            &--orange {
                &::before {
                    border-bottom-color: $banner-orange-1;
                }

                &::after{
                    background-color: $banner-orange-2;
                }
            }

            &--purple {
                &::before {
                    border-bottom-color: $banner-purple-1;
                }

                &::after{
                    background-color: $banner-purple-2;
                }
            }

            &--gray {
                &::before {
                    border-bottom-color: $banner-gray-1;
                }

                &::after{
                    background-color: $banner-gray-2;
                }
            }

            .psm-banner__caption {
                background-color: transparent;
            }
        }

        .container {
            height: 245px;
        }

        &__caption {
            bottom: 30px;
        }

        &__nav {
            font-size: 18px;
        }

        &__title {
            font-size: 30px;
        }
    
        &__text {
            font-size: 22px;
        }
    }

    @media (min-width: $md-viewport) {
        &__item {
            height: 345px;

            &::before,
            &::after {
                width: 60%;
            }

            &::before {
                border-right-width: 225px;
                border-bottom-width: 345px;
            }

            &--default {
                height: 230px;
    
                .container {
                    height: 230px !important;
                }
            }
        }

        .container {
            height: 345px;
        }

        &__caption {
            bottom: 60px;
        }

        &__title {
            font-size: 40px;
        }

        &__nav {
            font-size: 20px;
        }
    
        &__text {
            font-size: 24px;
        }
    }

    @media (min-width: $lg-viewport) {
        &__item {
            height: 445px;

            &::before,
            &::after {
                width: 50%;
            }

            &::before {
                border-right-width: 275px;
                border-bottom-width: 445px;
            }

            &--default {
                height: 330px;
    
                .container {
                    height: 330px !important;
                }
            }
        }

        .container {
            height: 445px;
        }

        &__caption {
            bottom: 75px;
        }
    }
}