.psm-navbar {
    height: 50px;
    padding-bottom: 0;
    padding-top: 0;
    position: relative;

    &__logo {
        display: block;
        left: 0;
        padding: 6px 69px 35px 28px;
        position: absolute;
        top: 0;

        &::before {
            content: '';
            width: 0px;
            height: 0px;
            border-left: 44px solid transparent;
            border-right: 129px solid transparent;
            border-top: 76px solid $blue;
            left: 0;
            position: absolute;
            top: 0;
            z-index: -1;
        }
    }

    &__img {
        height: 35px;
        width: 76px;
    }

    @media (min-width: $md-viewport) {
        height: 60px;

        &__logo {
            padding: 10px 118px 59px 46px;

            &::before {
                border-left-width: 71px;
                border-right-width: 215px;
                border-top-width: 126px;
            }
        }

        &__img {
            height: 57px;
            width: 122px;
        }
    }

    @media (min-width: $lg-viewport) {
        height: 70px;

        &__logo {
            padding: 14px 164px 82px 65px;

            &::before {
                border-left-width: 100px;
                border-right-width: 300px;
                border-top-width: 176px;
            }
        }

        &__img {
            height: 80px;
            width: 171px;
        }
    }
}