.psm-body {
    .owl-pagination {
        line-height: inherit;
        position: absolute;
        bottom: 15px;
        display: block;
        text-align: center;
        transition: all 200ms ease-out;
        width: 100%;
    
        .owl-page {
            display: inline-block;
    
            span {
                border-radius: 100%;
                display: block;
                width: 15px;
                height: 15px;
                background-color: $white;
                border: none;
                margin: 0 5px;
                transition: all 200ms ease-out;
            }
    
            &.active {
    
                span {
                    background-color: $blue;
                }
            }
        }
    }
    
    .owl-buttons {
        .owl-prev,
        .owl-next {
            bottom: 0;
            color: $white;
            display: inline-block;
            font-size: 30px;
            height: 30px;
            margin: auto;
            opacity: .5;
            position: absolute;
            top: 0;
            transition: opacity .2s ease;
            width: 30px;
    
            i.fa {
                font-size: 40px;
    
                &::after {
                    border: 1px solid $white;
                    content: '';
                    height: 39px;
                    position: absolute;
                    top: 0;
                    transform: rotate(-45deg);
                    width: 39px;
                }
            }
    
            &:hover {
                opacity: 1;
            }
        }
    
        .owl-prev {
            left: 30px;
    
            i.fa {
                &::after {
                    left: -10px;
                }
            }
        }
    
        .owl-next {
            right: 30px;
    
            i.fa {
                &::after {
                    right: 6px;
                }
            }
        }
    }
}
