.psm-section {
    padding-bottom: 30px;
    padding-top: 30px;

    &__head {
        margin-bottom: 30px;
    }

    &__title {
        color: $blue;
        font-size: 24px;
        font-family: $font-arboria-light;
        font-weight: normal;
        margin: 0;
        text-align: center;

        strong {
            font-family: $font-arboria-medium;
            font-weight: normal;
        }
    }

    &__text {
        color: $blue;
        font-size: 16px;
        font-family: $font-arboria-light;
        margin: 0;

        strong {
            font-family: $font-arboria-medium;
            font-weight: normal;
        }
    }

    &--gray {
        background-color: $bg-gray;
    }

    @media (min-width: $sm-viewport) {
        &__title {
            font-size: 26px;
        }

        &__text {
            font-size: 18px;
        }
    }

    @media (min-width: $md-viewport) {
        &__title,
        &__text {
            span {
                display: block;
            }
        }

        &__title {
            font-size: 28px;
        }

        &__text {
            font-size: 20px;
        }
    }

    @media (min-width: $lg-viewport) {
        &__title {
            font-size: 30px;
        }

        &__text {
            font-size: 22px;
        }
    }
}

