section.psm-section.psm-banner
    .psm-banner__item.psm-banner__item--orange(style='background-image: url('+ basedir +'2018/05/psm-banner-brand.jpg);')
        .container
            .psm-banner__caption.text-left
                .row
                    .col-sm-6
                        ul.psm-banner__nav
                            li
                                a.psm-link(href='#' title='Home') Home
                        h2.psm-banner__title Plaza es todo
                        p.psm-banner__text Las mejores marcas en un mismo lugar