section.psm-section.psm-banner
    .psm-banner__item.psm-banner__item--default
        .container
            .psm-banner__caption.text-left
                ul.psm-banner__nav
                    li
                        a.psm-link(href='#' title='Home') Home
                    li
                        a.psm-link(href='#' title='Eventos') Eventos
                        
                h2.psm-banner__title Rock de los 80’s en inglés y español