section.psm-section.psm-hero
    .psm-carousel.owl-carousel.height-md.owl-inner-nav.owl-ui-lg#psm-hero__carousel
        .psm-hero__item.psm-hero__item--right.psm-hero__item--blue.psm-hero__item--interna(style='background-image: url('+ basedir +'2018/05/psm-banner-event-rock-80.jpg);')
            .psm-hero__mask
            .psm-hero__mask-1
            .psm-hero__mask-2
            .psm-event__date #[b 04] #[span ENE]
            .container
                .psm-hero__caption.psm-hero__caption--white.vertical-center
                    .row
                        .col-sm-6.col-sm-offset-6.col-md-5.col-md-offset-6.col-lg-5.col-lg-offset-7
                            h2.psm-hero__title.fadeInLeft-1 ¡Acompáñanos en una gran noche!
                            p.psm-hero__text.fadeInLeft-2 Hoy es #ViernesTemático y tendremos Rock and Roll en #LaPlazadetuVida       