section.psm-section.psm-hero
    .psm-carousel.owl-carousel.height-md.owl-inner-nav.owl-ui-lg#psm-hero__carousel
        .psm-hero__item.psm-hero__item--right.psm-hero__item--white.psm-hero__item--interna(style='background-image: url('+ basedir +'2018/05/psm-banner-blog.jpg);')
            .psm-hero__mask
            .psm-hero__mask-1
            .psm-hero__mask-2
            .container
                .psm-hero__caption.psm-hero__caption--blue.vertical-center
                    .row
                        .col-sm-6.col-sm-offset-6.col-md-5.col-md-offset-6.col-lg-5.col-lg-offset-7
                            h2.psm-hero__title.fadeInLeft-1 Comparte los mejores momentos
                            p.psm-hero__text.fadeInLeft-2 Descubre cómo celebramos el mes de mamá en Plaza San Miguel y  súmate a esta gran celebración.        