section.psm-section.psm-section--gray.psm-subscribe
    .container
        .row
            .col-sm-9
                p.psm-section__text #[span Suscríbete a nuestro boletín y podrás #[strong.psm-text--blue ser la primera] en conocer de lo último] #[span en tendencia, promociones y lanzamientos de nuevas marcas. ]

            .col-sm-3
                .psm-btns.text-center
                    a.btn.psm-btn.psm-btn--purple(href='#' title='Suscríbete') #[b Suscríbete]